<template>
	<div class="auth">
		<button
			:class="{active: singForm}"
			@click="singForm = true">
			Войти
		</button>
		<button
			:class="{active: registerForm}"
			@click="registerForm = true">
			Регистрация
		</button>

		<transition name="modal">
			<auth-form
				@toggle="toggle('sing')"
				@close="singForm = false"
				class="register"
				v-if="singForm" />
		</transition>

		<transition name="modal">
			<register-form
				@toggle="toggle('register')"
				@close="registerForm = false"
				class="register"
				v-if="registerForm" />
		</transition>
		
		<app-done></app-done>
	</div>
</template>

<script>
import { mapGetters } from 'vuex'

import AuthForm from '~/components/block/form/authForm.vue'
import RegisterForm from '~/components/block/form/registerForm.vue'
import AppDone from './done.vue'

export default {
	components: {
		'auth-form': AuthForm,
		'register-form': RegisterForm,
		'app-done': AppDone
	},
	data () {
		return {
			singForm: false,
			registerForm: false
		}
	},
	methods: {
		toggle (value) {
			switch (value) {
			case 'sing':
				this.singForm = false
				setTimeout(() => {
					this.registerForm = true
				}, 0)
				break
			case 'register':
				this.registerForm = false
				setTimeout(() => {
					this.singForm = true
				}, 0)
				break
			default:
				break
			}
		}
	}
}
</script>

<style scoped lang="stylus">
.auth
	display flex
	flex-direction row
	position relative
	height 5rem

button
	display block
	color white
	opacity 0.3
	text-decoration none
	padding 0.6rem 0.8rem
	font-size 1.4rem
	font-weight 500
	border none
	outline none !important
	background transparent
	cursor pointer
	transition all 250ms ease-out

	&.active, &:hover
		opacity 1

.register
	top calc(100% + 1.5rem)
	right 0
	z-index 100
	position absolute
	width 35rem

.modal
	&-enter-active, &-leave-active
		transition all 250ms ease-out
		overflow hidden
		opacity 1
		transform translateY(0%)

	&-enter, &-leave-to
		opacity 0.2
		transform translateY(15%)
</style>