<template>
	<div class="done" style="display: none;">
		<div class="done__icon">
			<!-- <svg-email class="svg" /> -->
		</div>
		<p class="done__title">Проверьте свою почту</p>
		<p class="done__subtitle">Мы отправили Вам письмо с подтверждением регистрации</p>
		<button class="done__btn">Войти</button>
	</div>
</template>

<style scoped lang="stylus">
.done
	background-color $mainBg
	border-radius 0.6rem
	margin-bottom 3rem
	
	width 35rem
	position absolute
	top 1rem
	left 50%
	transform translateX(-50%)
	z-index 100
	box-shadow 0 0 2rem 0.8rem #00000085
	font-size 1.4rem
	display flex
	flex-direction column
	justify-content flex-start
	align-items center
	padding 4.5rem 3.5rem 7.5rem
	
	&__title
		margin 0
		margin-bottom 3.6rem
		font-size 1.8rem
		color $text-lightgray

	&__subtitle
		margin 0
		margin-bottom 3rem
		color $text-info
		line-height 3rem

	&__icon
		padding 1.6rem
		border 0.2rem solid $border
		border-radius 50%
		line-height 0
		margin-bottom 4.7rem
		
		.svg
			width 3rem
			height 3rem

	&__btn
		background-color $bg-block
		padding 1.4rem 3.6rem
		border 0.2rem solid $border
		text-transform uppercase
		color $text-info
		border-radius 0.4rem
		cursor pointer
</style>