<template>
	<div class="header">
		<nuxt-link to="/">
			<svg-icon class="header__logo" name="logo"/>
		</nuxt-link>
		<div class="header__label">
			{{ usersCount }} {{ userCountText }}
		</div>
		<auth v-if="!isAuth" />
		<user-info v-if="isAuth" />
	</div>
</template>

<script>
import { mapGetters, mapActions, mapState } from 'vuex'
import Auth from './auth.vue'
import UserInfo from './user-info.vue'

export default {
	components: {
		'auth': Auth,
		'user-info': UserInfo
	},
	middleware: ['userCount'],
	computed: {
		...mapGetters({
			isAuth: 'user/isAuth'
		}),
		...mapState({
			usersCount: state => state.user.userCount
		}),
		userCountText () {
			let titles = ['волк', 'волка', 'волков']
			let cases = [2, 0, 1, 1, 1, 2];  
    		return titles[ (this.usersCount%100>4 && this.usersCount%100<20)? 2 : cases[(this.usersCount%10<5)?this.usersCount%10:5] ];  
		}
	}
}
</script>


<style lang="stylus" scoped>
@import '~assets/style/core/variables.styl'
@import './header.styl'
</style>
