.header
	display flex
	justify-content space-between
	align-items center
	background-color $primaryColor
	padding 2rem

	&_absolute
		position absolute
		width 100%
		left 0
		top 0
		right 0
		z-index 2
	
	&_full
		padding 50px 0 0 0

	&__logo
		width 9rem
		height 2.5rem
	&__label
		margin-right auto
		margin-left 3rem
		padding 0.7rem 0.6rem 0.7rem 0.6rem
		background-color darken(#C4C4C4, 70%)
		border-radius 3px
		display flex
		align-items center
		line-height 1
		font-size 1.3rem
		color $secondaryColor

.menu
	display flex
	justify-content space-between
	align-items center
	padding 0
	margin 0
	list-style none
	color #fff

	&__li, &__link
		color #fff
		font-size 15px
		cursor pointer
	
	&__link
		text-decoration none
		padding 0.5rem
		display block
	
	&__li
		&:hover
			opacity 0.3
			text-decoration none
	
	&__li
		margin-right 40px

		&:nth-last-of-type(1)
			margin-right 0