<template>
	<div class="vue-user-info" @mouseover="hover = true" @mouseout="hover = false">
		<p v-text="name" />
		<img :src="avatar" alt="">
		<svg-icon name="arrow-down" />
		<transition name="modal">
			<ul class="drop" v-if="hover">
				<!-- <li>Статьи</li> -->
				<router-link tag="li" to="/setting">
					Настройки
				</router-link>
				<li @click="logout()">Выйти</li>
			</ul>
		</transition>
	</div>
</template>

<script>
import { mapState, mapActions, mapGetters } from 'vuex'

export default {
	data () {
		return {
			hover: false
		}
	},
	computed: {
		...mapGetters('user', {
			name: 'fullname',
			avatar: 'avatar'
		}),
		...mapState({
			user: (state) => state.user.userInfo
		})
		// ...mapState({
		// 	avatar: (state) => {
		// 		const user = state.user.userInfo
				
		// 		if (user.avatar)
		// 			return user.avatar
				
		// 		if (user.gender && user.gender === 'f')
		// 			return require('~/assets/img/default-user.female.png')

		// 		return require('~/assets/img/default-user.male.png')
		// 	}
		// })
	},
	methods: {
		...mapActions('user', {
			send_logout: 'logout'
		}),
		async logout () {
			await this.send_logout()
			this.$router.push('/')
			this.$notify({
				group: 'auth',
				type: 'warning',
				title: 'Аккаунт разлогинен'
			})
		}
	}
}
</script>

<style scoped lang="stylus">
@import '~assets/style/core/variables.styl'

.vue-user-info
	position relative
	display flex
	flex-direction row
	align-items center
	padding-right 3.2rem
	height 5rem

p
	font-weight 500
	font-size 1.4rem
	line-height 5rem
	margin 0 2rem 0 0
	color $buttonColor
	
img
	height 5rem
	width 5rem
	border-radius 100%
	object-fit cover
	
ul
	position absolute
	z-index 2
	top 100%
	right 0
	border-radius 0.4rem
	background $mainBg
	padding 0
	list-style none
	margin 1rem 0 0
	border 0.1rem solid $border
	
	&:after
		content ''
		width 100%
		position absolute
		height 1rem
		background-color transparent
		bottom 100%
		left 0
	
li
	color $buttonColor
	font-size 1.4rem
	line-height 1
	padding 1rem
	min-width 10rem
	text-align right
	cursor pointer
	background-color transparent
	transition all 250ms ease-out
	
	& + &
		border-top 0.1rem solid $border
	
	&:hover
		color $whiteColor
		background-color $border

svg
	right 0
	color $buttonColor
	width 1.2rem
	height 1.2rem
	position absolute

.modal
	&-enter-active, &-leave-active
		transition all 250ms ease-out
		overflow hidden
		opacity 1
		transform translateY(0%)

	&-enter, &-leave-to
		opacity 0.2
		transform translateY(15%)		
</style>