<template>
	<div class="page__body content">
		<template v-if="!(posts.left.length <= 0 && posts.right.length <= 0 )">
			<div class="page__col">
				<transition-group tag="div" name="show">
					<Post v-for="post in posts.left" :post="post" :key="post.id" />
				</transition-group>
				<infinite-scroll
					v-if="!allPosts"
					@infinite="infiniteHandler"
					spinner="waveDots" />
				<!-- <Adversing /> -->
			</div>
			<div class="page__col">
				<!-- <Adversing /> -->
				<transition-group tag="div" name="show">
					<Post v-for="post in posts.right" :post="post" :key="post.id" />
				</transition-group>
				<infinite-scroll
					v-if="!allPosts"
					@infinite="infiniteHandler"
					spinner="waveDots" />
			</div>
		</template>
		<div class="page__col" v-if="(posts.left.length <= 0 && posts.right.length <= 0 )">
			<div class="page__empty">
				Вы ни на кого не подписаны
			</div>
		</div>
	</div>
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex'

import InfiniteLoading from '~/plugins/infinite/components/InfiniteLoading.vue'
import Post from '~/components/block/post/index.vue'
import Adversing from '~/components/block/post/adversing.vue'
import PageHeader from '~/components/page/pageHeader.vue'
export default {
	components: {
		'Post': Post,
		'Adversing': Adversing,
		'PageHeader': PageHeader,
		'infinite-scroll': InfiniteLoading
	},
	props: {
		searchWord: {
			type: String,
			default () {
				return ''
			}
		}
	},
	async asyncData ({store}){
		const params = `conditions[per_page]=5&page=1&subscriptions=${store.state.user.userInfo.id}`
		await store.dispatch('post/getPosts', params, {root: true})
	},
	data () {
		return {
			per_page: 5,
			allPosts: false
		}
	},
	mounted () {
		if ('search' in this.$route.query) {
			this.$store.commit('post/UPDATE_SEARCH_WORD', this.$route.query.search)
		}
	},
	computed: {
		...mapState({
			user: state => state.user.userInfo,
			isLoading: state => state.post.searchStatus,
			page: state => parseInt(Math.floor(state.post.posts.length / 5), 10) + 1
		}),
		...mapGetters('post', {
			posts: 'posts'
		}),
		params () {
			return `page=${this.page}&conditions[per_page]=${this.per_page}&subscriptions=${this.user.id}`
		},
		navigation () {
			if (!!this.user) {
				return [
					{'title': 'Все публикации', 'link': '/'}, 
					{'title': 'Моя страница', 'link': `/user/${this.user.id}`}
				]
			} else {
				return [
					{'title': 'Все публикации', 'link': '/'}, 
				]
			}
		}
	},
	methods: {
		...mapActions('post', {
			addPosts: 'addPosts'
		}),
		async infiniteHandler ($state) {
			try {
				const res = await this.addPosts(this.params)
				if (res.length < this.per_page) {
					$state.complete()
					this.allPosts = true
				} else {
					$state.loaded()
				}
				if (res instanceof Error)
					throw Error()
			} catch (e) {
				console.log(e)
				this.allPosts = true
			}
		}
	}
}
</script>


<style lang="stylus" scoped>
@import '~assets/style/core/variables.styl'
.page
	&__empty
		color $whiteColor
		font-size 2rem
	&__body
		margin-top 4rem
		display flex
		flex-direction row
		justify-content space-between

		&._loading
			position relative
			&:after
				content ''
				position absolute
				top 0
				left 0
				bottom 0
				right 0
				background-color rgba($secondaryColor, 0.09)
			&:before
				content ''
				position absolute
				right 1rem
				top 1rem
				border 4px solid rgba($secondaryColor, 0.5)
				border-radius 50%
				animation loading 2s infinite
				padding 1rem

	&__col
		width 53.5rem
		flex-shrink 0
		
		&_full
			width 100%

@keyframes loading {
	0% {
		transform scale(1) rotate(0)
	}
	20% {
		transform scale(1.5) rotate(30deg)
	}
	60% {
		transform scale(1) rotate(0)
	}
	80% {
		transform scale(1.5) rotate(30deg)
	}
	100% {
		transform scale(1) rotate(0)
	}
}
</style>
