<template>
	<div class="page__body content">
		<div class="page__col">
			<transition-group tag="div" name="show">
				<Post v-for="post in posts.left" :post="post" :key="post.id" />
			</transition-group>
			<infinite-scroll
				v-if="!allPosts"
				@infinite="infiniteHandler"
				spinner="waveDots" />
			<!-- <Adversing /> -->
		</div>
		<div class="page__col">
			<!-- <Adversing /> -->
			<transition-group tag="div" name="show">
				<Post v-for="post in posts.right" :post="post" :key="post.id" />
			</transition-group>
			<infinite-scroll
				v-if="!allPosts"
				@infinite="infiniteHandler"
				spinner="waveDots" />
		</div>
	</div>
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex'

import InfiniteLoading from '~/plugins/infinite/components/InfiniteLoading.vue'
import Post from '~/components/block/post/index.vue'
import Adversing from '~/components/block/post/adversing.vue'
import PageHeader from '~/components/page/pageHeader.vue'

export default {
	components: {
		'Post': Post,
		'Adversing': Adversing,
		'PageHeader': PageHeader,
		'infinite-scroll': InfiniteLoading
	},
	asyncData ({store, route}) {
		const params = `conditions[per_page]=5&filters[idea]=0&page=1`
		return Promise.all([
			store.dispatch('post/getPosts', params, {root: true})
		])
	},
	data () {
		return {
			per_page: 5,
			allPosts: false
		}
	},
	computed: {
		...mapState({
			user: state => state.user.userInfo,
			page: state => parseInt(Math.floor(state.post.posts.length / 5), 10) + 1
		}),
		...mapGetters('post', {
			posts: 'posts'
		}),
		params () {
			return `page=${this.page}&conditions[per_page]=${this.per_page}&filters[idea]=0`
		},
		navigation () {
			if (!!this.user) {
				return [
					{'title': 'Все публикации', 'link': '/'}, 
					{'title': 'Моя страница', 'link': `/user/${this.user.id}`}
				]
			} else {
				return [
					{'title': 'Все публикации', 'link': '/'}, 
				]
			}
		}
	},
	methods: {
		...mapActions('post', {
			addPosts: 'addPosts'
		}),
		async infiniteHandler ($state) {
			try {
				const res = await this.addPosts(this.params)
				if (res.length < this.per_page) {
					$state.complete()
					this.allPosts = true
				} else {
					$state.loaded()
				}
				if (res instanceof Error)
					throw Error()
			} catch (e) {
				console.log(e)
				this.allPosts = true
			}
		}
	}
}
</script>

<style scoped lang="stylus">
@import '~assets/style/core/variables.styl'

p
	margin 0

.page
	&__body
		margin-top 4rem
		display flex
		flex-direction row
		justify-content space-between
	&__col
		width 53.5rem
		flex-shrink 0

.show
	&-enter-active, &-leave-active
		transition all 600ms ease-out

	&-enter, &-leave-to
		opacity 0
		transform translateY(10rem)
</style>
