<template>
	<div class="page__body content" :class="{'_loading': isSearching}">
		<template v-if="!(posts.left.length <= 0 && posts.right.length <= 0 && !isLoading )">
			<div class="page__col">
				<transition-group tag="div" name="show">
					<Post v-for="post in posts.left" :post="post" :key="post.id" />
				</transition-group>
				<infinite-scroll
					v-if="!allPosts"
					@infinite="infiniteHandler"
					spinner="waveDots" />
				<!-- <Adversing /> -->
			</div>
			<div class="page__col">
				<!-- <Adversing /> -->
				<transition-group tag="div" name="show">
					<Post v-for="post in posts.right" :post="post" :key="post.id" />
				</transition-group>
				<infinite-scroll
					v-if="!allPosts"
					@infinite="infiniteHandler"
					spinner="waveDots" />
			</div>
		</template>
		<div class="page__col" v-if="(posts.left.length <= 0 && posts.right.length <= 0 && !isLoading)">
			<div class="page__empty">
				Нет постов, соответствующих запросу
			</div>
		</div>
	</div>
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex'
import Vue from 'vue'
import InfiniteLoading from '~/plugins/infinite/components/InfiniteLoading.vue'
import Post from '~/components/block/post/index.vue'
import Adversing from '~/components/block/post/adversing.vue'
import PageHeader from '~/components/page/pageHeader.vue'
export default {
	components: {
		'Post': Post,
		'Adversing': Adversing,
		'PageHeader': PageHeader,
		'infinite-scroll': InfiniteLoading
	},
	props: {
		searchWord: {
			type: String,
			default () {
				return ''
			}
		}
	},
	data () {
		return {
			per_page: 5,
			published: 1,
			allPosts: false,
			isLoading: true
		}
	},
	asyncData ({store, route}) {
		const params = `conditions[per_page]=5&page=1&search=${route.query.search}`
		// return Promise.all([
		// 	store.dispatch('post/getPosts', params, {root: true})
		// ])
	},
	async mounted () {
		await this.searchPosts()
	},
	// mounted () {
	// 	// if ('search' in this.$route.query) {
	// 	// 	this.$store.commit('post/UPDATE_SEARCH_WORD', this.$route.query.search)
	// 	// }
	// },
	computed: {
		...mapState({
			user: state => state.user.userInfo,
			isSearching: state => state.post.searchStatus,
			page: state => parseInt(Math.floor(state.post.posts.length / 5), 10) + 1
		}),
		...mapGetters('post', {
			posts: 'posts'
		}),
		params () {
			return `page=${this.page}&conditions[per_page]=${this.per_page}&filters[published]=${this.published}&search=${this.$route.query.search}`
		},
		navigation () {
			if (!!this.user) {
				return [
					{'title': 'Все публикации', 'link': '/'}, 
					{'title': 'Моя страница', 'link': `/user/${this.user.id}`}
				]
			} else {
				return [
					{'title': 'Все публикации', 'link': '/'}, 
				]
			}
		}
	},
	watch: {
		'$route.query.search': (val) => {
			if (val !== '') {
				// TODO загрузчик
				this.isLoading = true
				$nuxt.$store.dispatch('post/getPosts', `conditions[per_page]=5&page=1&search=${val}`, {root: true})
				this.isLoading = false
			}
		}
	},
	methods: {
		...mapActions('post', {
			addPosts: 'addPosts',
			getPosts: 'getPosts'
		}),
		async searchPosts () {
			this.isLoading = true
			let res = await this.getPosts(`conditions[per_page]=5&page=1&search=${this.$route.query.search}`)
			this.isLoading = false
		},
		async infiniteHandler ($state) {
			try {
				const res = await this.addPosts(this.params)
				if (res.length < this.per_page) {
					$state.complete()
					this.allPosts = true
				} else {
					$state.loaded()
				}
				if (res instanceof Error)
					throw Error()
			} catch (e) {
				console.log(e)
				this.allPosts = true
			}
		}
	}
}
</script>


<style lang="stylus" scoped>
@import '~assets/style/core/variables.styl'
.page
	&__empty
		color $whiteColor
		font-size 2rem
	&__body
		margin-top 4rem
		display flex
		min-height 20rem
		flex-direction row
		justify-content space-between

		&._loading
			position relative
			&:after
				content ''
				position absolute
				top 0
				left 0
				bottom 0
				right 0
				background-color rgba($secondaryColor, 0.09)

	&__col
		width 53.5rem
		flex-shrink 0
		
		&_full
			width 100%
</style>
