<template>
	<div>
		<question-card
			v-for="(question, index) in questions"
			:key="index"
			:step="++index"
			:question="question"
			class="card"
			@answerEmit="answer(index, $event)" />
		<div class="links">
			<div />
			<div class="controls">
				<button v-show="!loadingForm" @click="sendTest" class="links__button button button_secondary button_big">Отправить тест</button>
				<div v-show="loadingForm" class="transition-loader">
					<div class="transition-loader-inner">
						<label></label>
						<label></label>
						<label></label>
						<label></label>
						<label></label>
						<label></label>
					</div>
				</div>
				<router-link class="links__link" to="/promo/condition">
					Прочитать подробно про условия
				</router-link>
			</div>
		</div>
	</div>
</template>

<script>
import QuestionCard from '~/components/promo/test/question-card.vue'
import { mapGetters, mapActions, mapState } from 'vuex'

export default {
	layout: 'promo/test',
	components: {
		'question-card': QuestionCard
	},
	middleware: ['close-test'],
	data () {
		return{
			...require('./data.json'),
			loadingForm: false
		}
	},
	computed: {
		...mapState({
			user_id: state => state.user.promoID
		})
	},
	methods: {
		...mapActions('user', {
			SendTest: 'promoTesting'
		}),
		answer (index, value) {
			this.questions[--index].answer = value
		},
		async sendTest () {
			let isOk = true
			this.questions.forEach(element => {
				if (element.answer === '') {
					element.valid = false
					isOk = false
				} else {
					element.valid = true
				}
			})
			if (isOk) {
				this.loadingForm = true
				let asw = await this.SendTest({
					'id': this.user_id,
					'test': this.questions
				})
				this.loadingForm = false
				if (asw.hasOwnProperty('errors')) {
				} else {
					setTimeout(()=>{
						this.$router.push('/')
					}, 150)
				}
			}
		}
	}
}
</script>

<style lang="stylus" scoped>
@import '~assets/styl/style.styl'
@import '~assets/styl/core/variables.styl'

.controls
	display flex
	align-items center
	justify-content flex-start
.transition-loader
	margin-right 90px
	width 192px
	height 85px
	background-color black
	label:after
		background-color white
.card
	margin-bottom 50px
	
	&:nth-last-of-type(2)
		margin-bottom 0

.links
	display flex
	flex-wrap wrap
	justify-content space-between
	align-items flex-start
	margin-top 80px
	
	& > *
		$gutter = 30px
		
		&:nth-of-type(1)
			width 165px
			margin-right $gutter
			
		&:nth-of-type(2)
			width "calc(100% - 165px - %s)" % $gutter
	&__button
		margin-right 90px
	
	&__link
		font-weight 500
		line-height 70px
		font-size 15px
		color $blackColor
		transition all 250ms ease-out
		
		&:hover
			text-decoration none
			color lighten($blackColor, 40%)
</style>
