<template>
	<label class="box">
		<input
			type="checkbox"
			:name="name"
			v-model="check"
			@change="$emit('change', check)">
		<span class="icon"></span>
		<span class="label">
			<slot></slot>
		</span>
	</label>
</template>


<script>
export default {
	props: {
		name: {
			type: String,
			require: false
		},
		checked: {
			type: Boolean,
			default: false
		}
	},
	data () {
		return {
			check: this.checked
		};
	}
};
</script>


<style scoped lang="stylus">
@import '~assets/style/core/variables.styl'

.box
	display flex
	flex-direction row
	justify-content flex-start
	align-items center
	cursor pointer
	overflow hidden

input
	display none

	& + .icon
		position relative
		flex-shrink 0
		width 2rem
		height 2rem
		background-color $whiteColor
		border-radius 0.4rem
		transition all 250ms ease-out


	&:checked + .icon::before
		content ""
		display block
		position absolute
		top 0
		right 0
		bottom 0
		left 0
		border-radius 0.4rem
		background-color $secondaryColor
		background-image url("~/assets/img/checkbox.png")
		background-repeat no-repeat
		background-position center
		background-size 50%
		
.label
	font-size 1.2rem
	line-height 3rem
	margin-left 2rem
	overflow hidden
	white-space nowrap
	text-overflow ellipsis
	width 100%
</style>
