<template>
	<div>
		<p :class="{
			require: required
		}">
			{{ label }}
		</p>
		<date-picker
			label="Дата рождения"
			:options="{data: value, format:'yyyy-MM-dd'}"
			:language="local"
			class="input"
			:placeholder="placeholder"
			@input="output($event)" />
	</div>
</template>

<script>
import Language from '~/assets/Language.js'
import moment from 'moment'
moment.locale('ru')

import DatePicker from 'vuejs-datepicker'

export default {
	components: {
		'date-picker': DatePicker
	},
	props: {
		value: {
			required: false
		},
		label: {
			type: String,
			default: 'Label'
		},
		required: {
			type: Boolean,
			default: false
		}
	},
	data () {
		return {
			local: new Language(
				'Russian',
				['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
				['Янв', 'Февр', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сент', 'Окт', 'Нояб', 'Дек'],
				['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб']
			)
		}
	},
	computed: {
		placeholder () {
			return this.value ? moment(this.value).format('DD MMMM YYYY') : 'Введите дату'
		}
	},
	methods: {
		output (date) {
			this.$emit('input', moment(date).format('YYYY-MM-DD 00:00:00'))
		}
	}
};
</script>

<style scoped lang="stylus">
@import '~assets/style/core/variables.styl'

p
	margin-top 0
	font-size 1.2rem
	line-height 3rem
	margin-bottom 1rem

	&.require:after
		margin-left 0.3rem
		content '*'


input, .input
	box-sizing border-box
	display block
	background-color $whiteColor
	font-size 1.2rem
	padding 1.15rem 1.8rem
	border 0.2rem solid $border
	outline none
	border-radius 0.6rem
	color darken($darkColor, 30%)
	width 100%
</style>