<template>
	<div class="sign" ref="modal">
		<div v-if="!successRegister">
			<form class="sign__header" :class="{'_loading': loading}" @submit.prevent="register()">
				<div class="row mb-3">
					<p class="title">Регистрация</p>
					<button :disabled="loading" type="button" class="switch" @click="$emit('toggle')">
						Вход
					</button>
					<p class="form-error" v-if="agreementError">
						Необходимо подтвердить соглашение
					</p>
				</div>
				<div class="form-input">
					<svg-icon class="svg" name="message" />
					<input
						:disabled="loading"
						class="input"
						:class="{error: emailError}"
						type="email"
						v-model="user.email"
						required
						@input="(errors || agreementError) ? clear() : ''"
						placeholder="Email">

					<p class="field-error" v-if="emailError" v-text="emailError" />
				</div>
				<div class="form-input">
					<svg-icon class="svg" name="pwd" />
					<input
						:disabled="loading"
						class="input"
						:class="{error: passwordError}"
						v-model="user.password"
						type="password"
						required
						@input="(errors || agreementError) ? clear() : ''"
						placeholder="Пароль">

					<p class="field-error" v-if="passwordError" v-text="passwordError" />
				</div>
				<div class="row">
					<button :disabled="loading" class="submit" type="submit">
						Регистрация
					</button>

					<label class="box">
						<input
							type="checkbox"
							v-model="agreement"
							@input="(errors || agreementError) ? clear() : ''">
						<span class="icon"></span>
						<span class="label">
							Соглашаюсь<br>
							с <router-link to="/">правилами</router-link>
						</span>
					</label>
				</div>
			</form>
			<div class="sign__footer">
				<div class="row">
					<button class="switch social">
						<!-- <svg-twitter class="svg" /> -->
						twitter
					</button>
					<button class="switch social">
						<!-- <svg-facebook class="svg" /> -->
						facebook
					</button>
				</div>
			</div>
		</div>
		<success-message v-if="successRegister" @singin="$emit('toggle')" />
	</div>
</template>

<script>
import { mapActions, mapState, mapMutations } from 'vuex'
import SuccessRegister from '~/components/block/form/successRegister.vue'

export default {
	components: {
		'success-message': SuccessRegister
	},
	data() {
		return {
			user: {
				email: '',
				password: ''
			},
			agreement: false,
			agreementError: false,
			loading: false
		}
	},
	computed: {
		...mapState({
			emailError: state => (state.user.errors && 'email' in state.user.errors) ? state.user.errors.email[0] : false,
			passwordError: state => (state.user.errors && 'password' in state.user.errors) ? state.user.errors.password[0] : false,
			errorMessage: state => (state.user.errors && 'message' in state.user.errors) ? state.user.errors.message : false,
			errors: state => !!state.user.errors,
			successRegister: state => state.user.registerSuccess
		})
	},
	watch: {
		successRegister (success) {
			if (success) {
				this.user = {
						email: '',
						password: ''
					}
			}
		}
	},
	created () {
		if (this.errors) {
			this.clear()
		}
	},
	mounted () {
		if (process.browser) {
			this.event()
		}
	},
	methods: {
		...mapActions('user', {
			singUp: 'singUp'
		}),
		...mapMutations('user', {
			clearStoreError: 'SET_ERROR'
		}),
		async register () {
			if (this.agreement) {
				this.loading = true
				await this.singUp({
					...this.user,
					password_confirmation: this.user.password,
					nickname: this.user.email
				})
				this.loading = false
			} else {
				this.setAgreementError()
			}
		},
		event () {
			document.addEventListener('click', e => {
				if (e.path.indexOf(this.$refs.modal) !== -1) {
					this.event()
				} else {
					this.closeModal()
				}
			}, {once: true})
		},
		closeModal (e) {
			this.$emit('close')
		},
		setAgreementError () {
			this.agreementError = true
		},
		clear () {
			this.agreementError = false 
			this.clearStoreError()
		}
	}
}
</script>

<style scoped lang="stylus">
@import '~assets/style/core/variables.styl'

.sign
	box-shadow 0 0 2rem 0.8rem rgba($blackColor, 0.85)
	background-color $mainBg
	border-radius 0.6rem
	min-height 42rem
	min-width 35rem

	._loading
		.submit
			pointer-events none
			cursor no-drop
			background-color darken($secondaryColor, 20)

	&__header
		padding 3rem

	&__footer
		padding 3rem
		border-top 0.2rem solid $border

.row
	display flex
	flex-direction row
	align-items center
	justify-content space-between
	position relative

.mb-3
	margin-bottom 3rem

.title
	font-size 1.8rem
	margin 0
	color white

.switch
	cursor pointer
	background none
	height 4rem
	width 12rem
	border 0.1rem solid $primaryColor
	background-color $primaryColor
	border-radius 0.4rem
	font-size 1.1rem
	font-weight 900
	letter-spacing 0.01em
	text-transform uppercase
	color $buttonColor
	transition all 250ms ease

	&.social
		width 13rem

	&:hover
		color lighten($buttonColor, 10)
		border-color lighten($buttonColor, 10)
		cursor pointer

.form-input
	position relative
	width 100%

	.svg
		position absolute
		top 50%
		left 2rem
		transform translateY(-50%)
		width 1.5rem
		height 1.5rem
		color #D8D8D8
	
	.field-error
		position absolute
		top 50%
		transform translateY(-50%)
		margin 0
		background $inputErrorColor
		z-index 1
		border-radius 0.4rem
		padding 0.5rem
		color $buttonColor
		width 60%
		right calc(100% + 1rem)
		font-size 1.2rem
		
		&:before
			content ''
			position absolute
			bottom calc(50% - 0.4rem)
			left 100%
			border 0.8rem solid transparent
			border-left 0.8rem solid $inputErrorColor

.form-error
	color $inputErrorColor
	font-size 1.4rem
	line-height 0
	position absolute
	top 100%
	width 100%
	text-align center

.input
	display block
	width 100%
	border 0.1rem solid $primaryColor
	border-radius 0.4rem
	padding 1.7rem
	padding-left 4.5rem
	background-color $primaryColor
	font-size 1.2rem
	font-weight 700
	color $inputColor
	box-sizing border-box
	outline none
	margin-bottom 2rem
	
	&.error
		border-color $inputErrorColor

.submit
	cursor pointer
	background-color $secondaryColor
	font-size 1.2rem
	letter-spacing 0.01em
	font-weight bold
	width 12rem
	height 5rem
	text-transform uppercase
	border none
	border-radius 0.4rem
	color $mainBg
	transition all 250ms ease-out
	
	&:hover
		background-color lighten($secondaryColor, 10)
		color lighten($mainBg, 10)

.reset-password
	color $buttonColor
	font-size 1.2rem
	font-weight 500
	transition all 250ms ease-out
	
	&:hover
		cursor pointer
		color lighten($buttonColor, 15)

.register-closed
	position fixed
	top 0
	bottom 0
	left 0
	right 0
	background-color transparent
	z-index 15


.box
	display flex
	flex-direction row
	justify-content flex-start
	align-items center
	cursor pointer
	overflow hidden

	input
		display none

		& + .icon
			position relative
			flex-shrink 0
			width 2rem
			height 2rem
			border 0.1rem solid $checkboxColor
			border-radius 0.4rem
			transition all 250ms ease-out
			overflow inherit
			
		&:checked + .icon::before
			content ""
			display block
			position absolute
			top -0.2rem
			right -0.2rem
			bottom -0.2rem
			left -0.2rem
			border-radius 0.4rem
			background-color  $checkboxColor
			// background-image url(../../../assets/img/checkbox.png)
			// background-repeat no-repeat
			// background-position center
			// background-size 50%

	.label
		font-size 1.2rem
		line-height 2.1rem
		font-weight 500
		color $checkboxColor
		margin-left 2rem
		overflow hidden
		white-space nowrap
		text-overflow ellipsis
		width 100%
		
		a
			color $secondaryColor
			text-decoration none
</style>
