<template>
	<div class="component">
		<p v-if="label" :class="{
			require: required
		}">
			{{ label }}
		</p>
		<div style="position: relative">
			<select @change="$emit('input', $event.target.value)" :value="value">
				<option value="">Не выбрано</option>
				<option v-for="(item, index) in option" :key="index" :value="optionValue(item)">
					{{ title(item) }}
				</option>
			</select>
			<!-- <svg-caret class="caret" /> -->
		</div>
	</div>
</template>

<script>
//import SvgCaret from '~svg~/select-caret.svg';

export default {
	components: {
		//'svg-caret': SvgCaret
	},
	props: {
		label: {
			type: String,
			default: 'Label'
		},
		value: {
			type: String
		},
		option: {
			type: Array,
			required: true
		},
		required: {
			type: Boolean,
			default: false
		}
	},
	methods: {
		optionValue (item) {
			return typeof item === 'object' && 'value' in item ? item.value : item
		},
		title (item) {
			return typeof item === 'object' && 'name' in item ? item.name : item
		}
	}
}
</script>

<style scoped lang="stylus">
@import '~assets/style/core/variables.styl'


.component
	position: relative

p
	margin-top 0
	font-size 1.2rem
	line-height 3rem
	margin-bottom 1rem

	&.require:after
		margin-left 0.3rem
		content '*'


select
	border 0.2rem solid $border
	background-color $whiteColor
	color darken($darkColor, 30%)
	outline none
	width 100%
	border-radius 0.6rem
	padding 1.6rem 4rem 1.6rem 2rem
	appearance none
	font-size 1.2rem
	cursor pointer
	outline none

.caret
	position absolute
	right 1.7rem
	top calc(50% - 0.25rem)
	width 0.9rem
	height 0.5rem
</style>
