<template>
	<div class="vue-successRegister">
		<div class="icon">
			<svg-icon class="svg" name="icon_done" />
		</div>
		<p class="title">Регистрация успешна</p>
		<p class="subtitle">
			Мы отправили вам уведомление на email адрес. Подтвердите регистрацию
		</p>
		<button class="btn" @click="$emit('singin')">Войти</button>
	</div>
</template>

<style scoped lang="stylus">
@import '~assets/style/core/variables.styl'

.vue-successRegister
	display flex
	flex-direction column
	justify-content center
	align-items center
	height 42rem
	box-sizing border-box
	padding 1rem 2.7rem 4rem

.title
	margin 0 0 3.2rem
	font-size 1.8rem
	line-height 3rem
	font-weight 500
	color $whiteColor

.subtitle
	margin 0 0 2rem
	color $buttonColor
	font-size 1.4rem
	font-weight 500
	text-align center
	line-height 3rem

.icon
	border-radius 50%
	line-height 0
	margin-bottom 5rem
	position relative
	height 6rem
	width 6rem
	background-color $secondaryColor
	
	.svg
		width 100%
		height 100%

.btn
	cursor pointer
	background-color $secondaryColor
	font-size 1.2rem
	letter-spacing 0.01em
	font-weight bold
	width 12rem
	height 5rem
	text-transform uppercase
	border none
	border-radius 0.4rem
	color $mainBg
	transition all 250ms ease-out
	
	&:hover
		background-color lighten($secondaryColor, 10)
		color lighten($mainBg, 10)
</style>