<template>
	<div>
		<p :class="{
			require: required
		}">
			{{ label }}
		</p>
		<input
			:type="type"
			:value="value"
			:placeholder="placeholder"
			@input="$emit('input', $event.target.value)">
	</div>
</template>

<script>
export default {
	props: {
		value: {
			type: String
		},
		label: {
			type: String,
			default: 'Label'
		},
		placeholder: {
			type: String,
			default: 'Placeholder'
		},
		required: {
			type: Boolean,
			default: false
		},
		type: {
			type: String,
			default: 'text'
		}
	}
};
</script>

<style scoped lang="stylus">
@import '~assets/style/core/variables.styl'


p
	margin-top 0
	font-size 1.2rem
	line-height 3rem
	margin-bottom 1rem

	&.require:after
		margin-left 0.3rem
		content '*'


input
	box-sizing border-box
	display block
	background-color $whiteColor
	font-size 1.2rem
	padding 1.6rem 1.8rem
	border 0.2rem solid $border
	outline none
	border-radius 0.6rem
	color darken($darkColor, 30%)
	width 100%
	
	&::placeholder
		color rgba(darken($darkColor, 30%), 0.4)
</style>
