@import './core/variables.styl'
.page-enter-active, .page-leave-active {
	transition: transform .5s;
}
.page-enter, .page-leave-to {
	transform translateY(-100%)
}
.layout-enter-active, .layout-leave-to {
  transition: opacity .5s;
}
.layout-enter, .layout-leave-to {
  opacity: 0;
}
html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body
	// background-color $primaryColor Перенесено в layout
	font-family Roboto
a
	text-decoration none
	&:hover
		text-decoration underline

.text-center
	text-align center !important
.svg-sprite
	display none
.container
	max-width 1140px
	margin 0 auto
	position relative

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}

.button
	outline none
	border 1px solid #000000
	padding 10px 40px
	font-size 15px
	line-height 24px
	cursor pointer
	color black
	transition all 0.2s ease-in
	position relative
	font-weight bold
	display inline-block
	text-decoration none
	font-family Roboto

	&:hover
		border-color $secondaryColor
		text-decoration none
	
	&_big
		padding-top 30px
		padding-bottom 30px

	&_primary
		background-color $secondaryColor !important
	&_secondary
		background-color $primaryColor !important
		color white
		border-color white
		
		&:hover
			border-color $primaryColor
	
	&_whitebg
		border-color white

	&_uppercase
		text-transform uppercase
	
	&_go
		padding-left 30px
		padding-right 50px
		&:after
			content ''
			background-image url('~assets/img/icon.svg')
			position absolute
			width 8px
			height 14px
			right 15%
			top 49%
			transform translateY(-50%)
			transition 0.2s right ease-in
		&:hover
			&:after
				right 12%

	&_back
		padding-left 90px
		padding-right 30px
		background-color white
		&:after
			content ''
			background-image url('~assets/img/arrow-btn.svg')
			position absolute
			width 37px
			height 7px
			left 15%
			top 49%
			transform translateY(-50%)
			transition 0.2s left ease-in
		&:hover
			border-color white
			&:after
				left 10%

	&_back-dark
		&:after
			background-image url('~assets/img/arrow-btn-white.svg')


.transition-loader {
  position: relative;
  top: 0;
  left: 0;
  right 0;
  bottom 0;
	overflow: hidden;
	width: 214px;
	border: 1px solid
	padding 0 60px
}

.transition-loader-inner {
  transform: translateY(-50%);
  top: 50%;
  left 0;
  position: absolute;
  width: 100%;
  color: #FFF;
//   padding: 0 100px;
  text-align: center;
}
.transition-loader-inner label {
//   font-size: 1em;
//   padding: 1%;
  opacity: 0;
  display: inline-block;
  position relative
  width 10px
  height 10px
  margin-right 10px
}
.transition-loader-inner label:after {
  content: '';
  width 9px
  height 9px
  background-color black
  position absolute
  border-radius 50%
  top 50%
  left 50%
  transform translateX(-50%) translateY(-50%)
}

.transition-loader-inner label:nth-child(1) {
  -webkit-animation: loader 3s 600ms infinite ease-in-out;
  animation: loader 3s 600ms infinite ease-in-out;
}

.transition-loader-inner label:nth-child(2) {
  -webkit-animation: loader 3s 500ms infinite ease-in-out;
  animation: loader 3s 500ms infinite ease-in-out;
}

.transition-loader-inner label:nth-child(3) {
  -webkit-animation: loader 3s 400ms infinite ease-in-out;
  animation: loader 3s 400ms infinite ease-in-out;
}

.transition-loader-inner label:nth-child(4) {
  -webkit-animation: loader 3s 300ms infinite ease-in-out;
  animation: loader 3s 300ms infinite ease-in-out;
}

.transition-loader-inner label:nth-child(5) {
  -webkit-animation: loader 3s 200ms infinite ease-in-out;
  animation: loader 3s 200ms infinite ease-in-out;
}

.transition-loader-inner label:nth-child(6) {
  -webkit-animation: loader 3s 100ms infinite ease-in-out;
  animation: loader 3s 100ms infinite ease-in-out;
}

@keyframes loader {
  0% {
    opacity: 0;
    transform: translateX(-100px) scale(1);
  }
  33% {
    opacity: 1;
    transform: translateX(0px) scale(2);
  }
  66% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateX(100px) scale(2);
  }
}
@-webkit-keyframes loader {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100px);
  }
}