<template>
	<div>
		<p class="title">Онлайн стажировка</p>
		<subscribe-form />
	</div>
</template>

<script>
import SubscribeForm from '~/components/promo/form/subscribe.vue'

export default {
	layout: 'promo/subscribe',
	components: {
		'subscribe-form': SubscribeForm
	}
}
</script>

<style lang="stylus" scoped>
@import '~assets/styl/style.styl'
@import '~assets/styl/core/variables.styl'

.title
	font-size 84px
	line-height 1
	color $blackColor
	letter-spacing 1px
	font-weight bold
	margin-bottom 96px
</style>
