<template>
	<div class="vue-modal-image">
		<img @click="show = true" class="preview" :src="image.src" :alt="image.alt || ''" :title="image.title || ''" />

		<transition name="modal">
			<div class="modal" v-if="show">
				<div class="meta">
					<a class="modal__download" :href="image.src" download>
						<svg-icon name="upload" title="Скачать" />
					</a>
					<button @click="show = false">
						<svg-icon name="close" title="Закрыть" />
					</button>
				</div>
				<img :src="origin" />
			</div>
		</transition>
	</div>
</template>

<script>
export default {
	props: {
		image: {
			type: Object
		},
		/**
		 * Оригинальный размер картинки
		 * @type {Object}
		 */
		origin: {
			type: String
		}
	},
	data() {
		return {
			show: false
		}
	},
	watch: {
		show (val) {
			if (process.server)
				return

			if (val)
				document.body.style.overflow = 'hidden'
			else
				document.body.style.overflow = ''
		}
	}
}
</script>

<style lang="stylus" scoped>
.vue-modal-image
	overflow hidden
.preview
	cursor pointer
	width 100%
	height auto
	max-height 30rem
	object-fit cover
	border-radius 3px
	transition transform 0.5s ease-out
	transform scale(1.1)

	&:hover
		transform scale(1)

.modal
	position fixed
	top 0
	bottom 0
	left 0
	right 0
	background rgba(0, 0, 0, 0.6)
	display flex
	z-index 99999999999

	&__download
		svg
			transform rotate(180deg)
	
	img
		margin auto
		max-width 80vw
		max-height 80vh
		box-shadow 0 0 0.5rem rgba(255, 255, 255, 0.5)
	
	.meta
		position absolute
		top 0
		right 0
		
		button, a
			display inline-block
			border none
			outline none
			background-color rgba(0, 0, 0, 0.9)
			width 15rem
			height 15rem
			cursor pointer
			padding 6rem
			opacity 0.25
			transition all 250ms ease-out
			
			&:hover
				opacity 1
				
			svg
				color rgba(255, 255, 255, 0.8)
				width 3rem
				height 3rem
				
	&-enter-active, &-leave-active
		transition opacity 400ms ease-out

	&-enter, &-leave-to
		opacity 0
</style>