<template>	
	<div class="nav" :class="{'nav_search': isSearch, '_loading': isLoading}">
		<router-link
			v-for="(item,index) in nav"
			:key="index"
			class="nav__item"
			tag="button"
			:to="item.link"
			exact-active-class="nav__item_active"
			@click="activeItem = index">
			{{ item.title }}	
		</router-link>
		<input 
			type="text" 
			ref="searchString" 
			:class="{'_activeSearch': activeSearch, '_non-empty': hasText}" 
			class="nav__item nav__item_search" 
			contenteditable="true"
			@focus="startSearch" 
			@keyup.enter="skipEnter" 
			@click="searchClicked"
			@blur="finishSearch" 
			v-model.lazy="searchInput" 
			:placeholder="searchText"/>
	</div>
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex'

export default {
	data () {
		return {
			activeItem: 0,
			activeSearch: false,
			isSearch: true,
			hasText: false,
			searchText: 'Поиск',
			searchInput: '',
			isSearching: false
		}
	},
	props: {	
		nav: {
			type: Array
		}
	},
	computed: {
		...mapState({
			isLoading: state => state.post.searchStatus
		})
	},
	watch: {
		'$store.state.post.searchWord': (val) => {
			if (val === '') {
				this.searchText = 'Поиск'
			} else {
				this.searchText = val
			}
		}
	},
	created () {
		// this.searchText = this.$route.query.search ? this.$route.query.search : 'Поиск'
	},
	methods: {
		...mapActions('post', ['searchPosts']),
		startSearch () {
			this.activeSearch = true
			this.hasText = false
			if (this.searchText === 'Поиск') {
				this.searchText = ''
			}
		},
		finishSearch () {
			this.activeSearch = false
			if (this.searchInput === '') {
				this.searchText = 'Поиск'
			} else {
				this.hasText = true
			}
		},
		searchClicked () {
			// this.makeSearch()
		},
		skipEnter () {
			this.makeSearch()
		},
		async makeSearch () {
			if (this.searchInput !== '') {
				this.$store.commit('post/UPDATE_SEARCH_WORD', this.searchInput)
				await this.$router.push(`/search?search=${this.searchInput}`)
				// if (this.$route.path === '/search') location.reload()
			}
		},
		setEndOfContenteditable(contentEditableElement){
			//попытка переместить курсор в конец строки поиска
			// var range,selection;
			// if(document.createRange)//Firefox, Chrome, Opera, Safari, IE 9+
			// {
			// 	range = document.createRange();//Create a range (a range is a like the selection but invisible)
			// 	range.selectNodeContents(contentEditableElement);//Select the entire contents of the element with the range
			// 	range.collapse(false);//collapse the range to the end point. false means collapse to end rather than the start
			// 	selection = window.getSelection();//get the selection object (allows you to change selection)
			// 	selection.removeAllRanges();//remove any selections already made
			// 	selection.addRange(range);//make the range you have just created the visible selection
			// }
			// else if(document.selection)//IE 8 and lower
			// { 
			// 	range = document.body.createTextRange();//Create a range (a range is a like the selection but invisible)
			// 	range.moveToElementText(contentEditableElement);//Select the entire contents of the element with the range
			// 	range.collapse(false);//collapse the range to the end point. false means collapse to end rather than the start
			// 	range.select();//Select the range (make it the visible selection
			// }
		}
	}
}
</script>

<style scoped lang="stylus">
@import '~assets/style/core/variables.styl'

p
	margin 0

.nav
	display flex
	flex-direction row
	align-items center
	margin-left auto
	transition padding 0.1s ease
	&._loading
		position relative
		&:before
			content ''
			position absolute
			right -3rem
			top 39%
			border 4px solid rgba($secondaryColor, 0.5)
			border-radius 50%
			animation loading 2s infinite
			padding 0.5rem
	&_search
		padding-right 5.5rem
	&__item
		cursor pointer
		outline none
		position relative
		padding 3.1rem 0
		background none
		border none
		margin-right 4rem
		font-size 1.5rem
		line-height 1.8rem
		color $whiteColor
		text-align center
		transition all 250ms ease-out
		opacity 0.3
		&:after
			transition all 250ms ease-out
			content ''
			position absolute
			bottom 1px
			left 50%
			right 50%
			height 2px
			background-color $secondaryColor
		&:last-child
			margin-right 0
		&:hover
			opacity 1
		&_active
			opacity 1
			&:after
				left 0
				right 0
		&_search
			width 7.8rem
			position absolute
			right 0
			bottom 0
			&::-webkit-input-placeholder /* Chrome/Opera/Safari */
				color $whiteColor
			&::-moz-placeholder /* Firefox 19+ */
				color $whiteColor
			&:-ms-input-placeholder /* IE 10+ */
				color $whiteColor
			&:-moz-placeholder /* Firefox 18- */
				color $whiteColor

			&._non-empty
				overflow hidden
				text-overflow ellipsis
				white-space nowrap
				// position relative

		&._activeSearch
			width 100%
			padding-left 1rem
			padding-right 1rem
			text-align left 
			border-bottom 0.2rem solid $border
			background-color $primaryColor
			opacity 1
			transition all 0.5s ease

@keyframes loading {
	0% {
		transform scale(1) rotate(0) 
	}
	20% {
		transform scale(1.5) rotate(30deg) 
	}
	60% {
		transform scale(1) rotate(0) 
	}
	80% {
		transform scale(1.5) rotate(30deg) 
	}
	100% {
		transform scale(1) rotate(0) 
	}
}
	
</style>