<template>
	<div class="header">
		<div class="header__content content">
			<router-link tag="p" to="/" class="title" v-if="show.title" v-text="title" />
			<router-link tag="p" to="/idea" class="title" v-if="show.title">
				Идеи
			</router-link>

			<Navigation
				:nav="navigation"
				v-if="show.navigation"/>
		</div>
	</div>
</template>

<script>
import Navigation from '~/components/page/navigation.vue'

export default {
	components: {
		'Navigation': Navigation
	},
	props: {
		title: {
			type: String,
			required: false
		},
		navigation: {
			type: Array
		},
		show: {
			type: Object,
			default: () => {
				return {
					title: true,
					nav: false
				};
			}
		}
	}
}
</script>

<style scoped lang="stylus">
@import '~assets/style/core/variables.styl'

p
	margin 0

.header
	border-bottom 2px solid $border
	&__content
		display flex
		flex-direction row
		align-items flex-end
		justify-content space-between
		padding 3.6rem 0 0 2.5rem
		
	.nav
		position relative
		bottom -2px


.title
	font-size 2.4rem
	color $whiteColor
	margin-bottom 4.2rem
	margin-top 0.9rem
	cursor pointer
	
	& + &
		margin-left 3rem
	
	&.nuxt-link-exact-active
		color $secondaryColor
		cursor default
</style>