<template>
	<div class="header header_absolute header_full container">
		<nuxt-link to="/">
			<svg-icon class="header__logo" name="logo"/>
		</nuxt-link>
		<ul class="header__menu menu">
			<li class="menu__li">
				<nuxt-link to="/promo/condition" class="menu__link">Условия</nuxt-link>
			</li>
			<li class="menu__li">
				<nuxt-link to="#" class="menu__link">О нас</nuxt-link>
			</li>
			<li class="menu__li">
				<nuxt-link to="#" class="menu__link">Контакты</nuxt-link>
			</li>
		</ul>
	</div>
</template>

<style lang="stylus" scoped>
@import '~assets/styl/style.styl'
@import './header.styl'

.header
	background-color transparent
</style>
