.header
	display flex
	justify-content space-between
	align-items center
	background-color $primaryColor
	padding 30px 40px

	&_absolute
		position absolute
		width 100%
		left 0
		top 0
		right 0
		z-index 2
	
	&_full
		padding 50px 0 0 0

	&__logo
		width 80px
		height 22px

.menu
	display flex
	justify-content space-between
	align-items center
	padding 0
	margin 0
	list-style none
	color #fff

	&__li, &__link
		color #fff
		font-size 15px
	
	&__link
		&._inactive
			opacity 0.3
			cursor context-menu
			pointer-events none
			text-decoration none
	
	&__li
		margin-right 40px

		&:nth-last-of-type(1)
			margin-right 0