<template>
	<div class="header">
		<nuxt-link to="/">
			<svg-icon class="header__logo" name="logo"/>
		</nuxt-link>
		<ul class="header__menu menu">
			<li class="menu__li">
				<nuxt-link to="#" class="menu__link"  :class="{ '_inactive': isEnterOrAuth }">Вход</nuxt-link>
			</li>
			<li class="menu__li">
				<nuxt-link to="#" class="menu__link" :class="{ '_inactive': !isEnterOrAuth }">Регистрация</nuxt-link>
			</li>
		</ul>
	</div>
</template>

<script>
export default {
	computed: {
		// true - auth, false - enter
		isEnterOrAuth () {
			return this.$route.path ? true : false
		}
	}
}
</script>


<style lang="stylus" scoped>
@import '~assets/styl/style.styl'
@import '~assets/styl/core/variables.styl'
@import './header.styl'

button
	color red
.header
	background-color $primaryColor

// .header-component
// 	display flex
// 	justify-content space-between
// 	align-items center
// 	background-color $primaryColor 
// 	padding 30px 40px

// svg
// 	width 95px
// 	height 26px

// ul
// 	display flex
// 	justify-content space-between
// 	align-items center
// 	padding 0
// 	margin 0
// 	list-style none
// 	color #fff

// li + li
// 	margin-left 40px

// .link
// 	color #fff
// 	font-size 15px
// 	opacity .4
// 	transition all 200ms ease-out

// 	&:hover
// 		opacity 1
// 		text-decoration none
	
</style>
