<template>
	<svg>
		<title>{{title}}</title>
		<use :xlink:href="`#${name}`"></use>
	</svg>
</template>

<script>
export default {
	props: {
		name: {
			type: String
		},
		title: {
			type: String
		}
	}
}
</script>