// ==============================
//
//  Roboto
//
// ==============================
@font-face
  font-family: 'Roboto'
  src: local('Roboto Regular'),
		local('Roboto-Regular'),
		url('~/assets/fonts/roboto/Roboto-Regular.woff2') format('woff2'),
		url('~/assets/fonts/roboto/Roboto-Regular.woff') format('woff')
  font-weight: 400
  font-style: normal
@font-face
  font-family: 'Roboto'
  src: local('Roboto medium'),
		local('Roboto-medium'),
		url('~/assets/fonts/roboto/Roboto-medium.woff2') format('woff2'),
		url('~/assets/fonts/roboto/Roboto-medium.woff') format('woff')
  font-weight: 600
  font-style:normal
