<template>
	<div class="todo-container">
		<div class="todo container">
			<div class="todo__title">
				Пройти тест и стать <br> участником группы <br> трейдеров
			</div>
			<div class="todo__info">
				Мы улучшаем знания и даем <br> практические занятия <br> трейдерам
			</div>
			<router-link to="/promo/intership" tag="button" class="button button_primary button_go button_uppercase">
				Пройти
			</router-link>
		</div>
	</div>
</template>

<script>
export default {}
</script>


<style lang="stylus" scoped>
@import '~assets/styl/style.styl'
@import '~assets/styl/core/variables.styl'

.todo-container
	background-color $primaryColor
	
.todo
	padding 150px 0 116px 0
	display flex
	justify-content space-between
	align-items flex-start
	color white

	&__title
		font-size 36px
		letter-spacing -1.6px
		line-height 48px
		font-weight 500
	&__info
		font-weight 500
		font-size 18px
		line-height 32px
</style>

