<template>
	<div v-if="loading" class="page">
		<PageHeader
			:show="{title:true, navigation:true}"
			:title="'Лента'" 
			:navigation="navigation" />

		<div class="page__body content">
			<div class="user">
				<div class="user__body">
					<button @click="subscribeOn" v-if="(user && !myPage)" class="user__add" :class="{'_subscribed': isSubscribed}">
						<svg-icon v-if="!isSubscribed" name="add-user"/>
						<svg-icon v-if="isSubscribed" name="icon_done"/>
					</button>
				
					<div class="user__wrap">
						<div class="user__content">
							<div class="user__photo">
								<img :src="avatar" alt="user">	
							</div>
						
							<div class="description">
								<p class="description__name">
									{{ fullname }}
								</p>
						
								<p class="description__text" v-text="currentUser.description" />
						
								<div class="more" v-if="showBtn">
									<div class="grid">
										<div class="field" v-if="currentUser.name">
											<p class="field__label">Имя</p>
											<p class="field__content">{{ currentUser.name }}</p>
										</div>
										<div class="field" v-if="currentUser.surname">
											<p class="field__label">Фамилия</p>
											<p class="field__content">{{ currentUser.surname }}</p>
										</div>
										<div class="field">
											<p class="field__label">Возраст</p>
											<p class="field__content">{{ age }}</p>
										</div>
										<div class="field" v-if="currentUser.phone">
											<p class="field__label">Телефон</p>
											<p class="field__content">{{ currentUser.phone }}</p>
										</div>
										<div class="field" v-if="currentUser.email">
											<p class="field__label">Email</p>
											<p class="field__content field__content--origin">{{ currentUser.email }}</p>
										</div>
										<div class="field" v-if="currentUser.country">
											<p class="field__label">Страна</p>
											<p class="field__content">{{ currentUser.country }}</p>
										</div>
										<div class="field field_long" v-if="true">
											<p class="field__label">Соц сети</p>
											<div class="field__row">
												<a
													v-for="(item, index) in social"
													:href="item"
													class="field__content field__content--origin"
													target="_blank"
													:key="index"
													v-text="item" />
											</div>
										</div>
										
										<div class="field field_long" v-if="currentUser.experience">
											<p class="field__label">Опыт трейдера</p>
											<p class="field__content">{{ currentUser.experience }}</p>
										</div>
									</div>
									
								</div>
				
								<button 
									class="description__more"
									@click="showBtn = !showBtn"
									v-bind:class="{description__more_open:showBtn}">
									{{ showBtn ? 'Свернуть' : 'Подробнее' }} 
								</button>
				
								<div class="info">
									<div class="info__item">
										<span>{{ currentUser.subscriptions }}</span>
										Следит
									</div>
								
									<div class="info__item">
										<span>{{ currentUser.subscribers }}</span>
										Следят
									</div>
								
									<div class="info__item">
										<span>{{ totalPosts }}</span>
										Публикаций
									</div>
								</div>
				
							</div>
						</div>
					</div>
				
					<!-- <button class="user__message">
						<svg-icon name="message"/>
					</button> -->
				</div>

				<div class="user__footer">
					<!-- <div class="nav">
						<button class="nav__item nav__item_active">Публикации</button>
						<button class="nav__item">Отслеживаемые</button>
					</div> -->
					<!-- <Navigation	:nav="['Публикации','Отслеживаемые']" /> -->
					<!-- <Navigation	:nav="['Публикации']" /> -->
				</div>
			</div>
		</div>

		<div class="posts content">
			<add-post v-if="myPage" :avatar="avatar" />
			<Post :post="post" :userPost="myPage" v-for="post in posts[currentUser.id]" :key="post.id">
				<template slot="postHeader">
					<div class="info__self">
						Опубликовано {{ toLocaleString(post.created_at.date) }}
					</div>
					<!-- <button class="info__more">
						<svg-icon name="more" />
					</button> -->
				</template>
			</Post>
		</div>
		<infinite-scroll
			v-if="!allPosts"
			@infinite="infiniteHandler"
			spinner="waveDots" />
	</div>
</template>

<script>
import PageHeader from '~/components/page/pageHeader.vue'
import Navigation from '~/components/page/navigation.vue'
import Post from '~/components/block/post/index.vue'
import InfiniteLoading from '~/plugins/infinite/components/InfiniteLoading.vue'
import Addpost from '~/components/block/post/addPost.vue'

import { mapState, mapActions, mapGetters } from 'vuex';
const moment = require('moment')

export default {
	components: {
		'PageHeader': PageHeader,
		'Navigation': Navigation,
		'Post': Post,
		'infinite-scroll': InfiniteLoading,
		'add-post': Addpost
	},
	// Раскомментировать для проверки на авторизованого пользователя
	// middleware: ['auth'],
	asyncData ({store, route}) {
		const params = `conditions[per_page]=5&filters[user_id]=${route.params.id}` 
		
		return Promise.all([
			store.dispatch('post/getPosts', params, {root: true}),
			store.dispatch('user/getUser', route.params.id, {root: true})
		])
	},
	data () {
		return {
			showBtn: false,
			showText: "Подробнее",
			page: 1,
			per_page: 5,
			published: 0,
			allPosts: false
		}
	},
	computed: {
		...mapState({
			user: state => state.user.userInfo,
			currentUser (state) {
				return state.user.users[this.$route.params.id]
			},
			totalPosts: state => state.post.totalPosts
		}),
		...mapGetters('user', {
			avatar: 'avatar',
		}),
		...mapGetters('post', {
			posts: 'authorPosts',
		}),
		isSubscribed () {
			return this.currentUser.subscribe
		},
		loading () {
			return !!this.currentUser
		},
		myPage () {
			if (this.user && this.currentUser) {
				return this.user.id === this.currentUser.id
			}
			return false
		},
		fullname () {
			if (this.myPage) {
				return 'Ваша страница'
			} else {
				return this.currentUser.name + ' ' + this.currentUser.surname
			}
		},
		age () {
			if (this.currentUser.birthday) {
				let diff = moment(this.currentUser.birthday, 'YYYY-MM-DD hh:mm:ss').fromNow()
				return diff.split(' ')[0] + ' ' + diff.split(' ')[1]
			} else {
				return 'Не введена дата'
			}
		},
		avatar () {
			const user = this.currentUser
			
			if (user && user.avatar)
				return user.avatar
			
			if (user && user.gender && user.gender === 'f')
				return require('~/assets/img/default-user.female.png')

			return require('~/assets/img/default-user.male.png')
		},
		params () {
			return `page=${this.page}&conditions[per_page]=${this.per_page}&filters[user_id]=${this.$route.params.id}`
		},
		social () {
			if (!this.currentUser.flags || !this.currentUser.flags.social)
				return []

			let social = _.values(this.currentUser.flags.social)

			return social.filter(val => val !== '')
		},
		navigation () {
			if (this.myPage) {
				return [
					{'title': 'Все публикации', 'link': '/'}, 
					{'title': 'Популярное', 'link': '/popular'}, 
					{'title': 'Отслеживаемые', 'link': '/fave'},
					{'title': 'Моя страница', 'link': `/user/${this.user.id}`}
				]
			} else if (this.user && this.currentUser) {
				return [
					{'title': this.fullname, 'link': `/user/${this.currentUser.id}`},
					{'title': 'Все публикации', 'link': '/popular'}, 
					{'title': 'Популярное', 'link': '/'},
					{'title': 'Отслеживаемые', 'link': '/fave'},
					{'title': 'Моя страница', 'link': `/user/${this.user.id}`}
				]
			} else {
				return [
					{'title': this.fullname, 'link': `/user/${this.currentUser.id}`},
					{'title': 'Все публикации', 'link': '/'}
				]
			}
		}
	},
	methods: {
		...mapActions('post', {
			addPosts: 'addPosts',
		}),
		...mapActions('user', {
			makeSubscribe: 'makeSubscribe'
		}),
		toLocaleString (date) {
			return moment(date).format('D MMMM, YYYY')
		},
		async infiniteHandler ($state) {
			try {
				this.page++
				const res = await this.addPosts(this.params)
				if (res.length < this.per_page) {
					$state.complete()
					this.allPosts = true
				} else {
					$state.loaded()
				}
				if (res instanceof Error)
					throw Error()
			} catch (e) {
				this.allPosts = true
			}
		},
		async subscribeOn () {
			// this.isSubscribed = !this.isSubscribed
			await this.makeSubscribe(this.currentUser.id)
		}
	}
}
</script>

<style scoped lang="stylus">
@import '~assets/style/core/variables.styl'
 
p
	margin 0
 
.page
	&__body
		margin-top 4rem
 
.user
	background-color $mainBg
	border-radius 0.3rem
	&__wrap
		min-width 63rem
		margin 0 auto
	&__body
		padding 4rem 4rem 1.5rem 4rem
		display flex
		flex-direction row
		justify-content space-between
		align-items flex-start
	&__footer
		border-top 0.1rem solid $border
		display flex
		flex-direction row
		justify-content center
	&__content
		display flex
		flex-direction row
		align-items flex-start
		max-width 65.8rem
	
	&__photo
		margin-right 5.5rem
		width 10rem
		height 10rem
		border-radius 50%
		flex-shrink 0
		overflow hidden
		
		img
			width 100%
			height 100%
			border-radius 50%
			object-fit cover
			
	&__add, &__message
		cursor pointer
		outline none
		padding 0
		background none
		border none
		background-color $whiteColor
		width 6rem
		height 6rem
		border-radius 50%
		transition all 250ms ease-out
		color $primaryColor
		&:hover
			background-color $secondaryColor
		svg
			width 2rem
			height 2rem

	&__add
		&._subscribed
			background-color $secondaryColor
			
	.description
		display flex
		flex-direction column
		flex-grow 1
		&__name
			font-size 2rem
			line-height 3rem
			color $whiteColor
			margin-bottom 1.6rem
			text-transform capitalize
		&__text
			font-size 1.4rem
			line-height 3rem
			color $lightColor
		&__more
			outline none
			padding 0
			background none
			border none
			font-size 1.4rem
			line-height 3rem
			color $whiteColor
			align-self flex-end
			cursor pointer
			transition all 250ms ease-out
			&:hover 
				color $secondaryColor
			&_open
				color $secondaryColor
				
	.info
		margin-top 1.5rem
		display flex
		flex-direction row
		align-items center
		&__item
			color $lightColor
			font-size 1.4rem
			line-height 3rem
			margin-right 4rem
			&:last-child
				margin-right 0
			span
				font-weight 600
				margin-right 1rem
				color $secondaryColor
				
	.grid
		display grid
		// grid-template-rows repeat(2, 1fr)
		grid-template-columns repeat(3, 1fr)
	
	.more
		margin-top 2.4rem

	.field
		font-size 1.2rem
		line-height 2.6rem
		margin-bottom 1.8rem
		padding-right 2rem
		&:last-child
			margin-bottom 0
		a
			text-decoration none
			transition all 250ms ease-out
			&:hover
				color $secondaryColor
		&_long
			grid-column 1/4
		&__row
			display flex
			flex-direction row
			flex-wrap wrap
			.field__content
				margin-right 1rem
		&__label
			color darken($lightColor, 35%)
		&__content
			color $whiteColor
			
			&:first-letter
				text-transform capitalize
				
			&--origin
				&:first-letter
					text-transform none

.posts
	padding 4rem 14.25rem
	

</style>

