<template>
	<div class="vue-post-add post-add post">
		<div class="post__content">
			<div class="post-add__header">
				<div class="post-add__img">
					<img :src="avatar" alt="Ваш аватар">
				</div>
				<div class="post-add__content" ref="text" @blur="fullField" @focus="clearField" @click="clearField" @keydown.ctrl.enter="submitForm" contenteditable>Новая публикация</div>
			</div>
		</div>
		<div class="post__content">
			<div class="post-add__footer">
				<div @click="activeFile" class="post-add__attach">
					<svg-icon name="attach-image" />
					<input v-show="false" @change="changedFile" ref="file" type="file" accept="image/jpeg,image/png">
				</div>
				<div class="post-add__imglist">
					<div v-if="(image && image.src)" @click="deleteImage()">
						<img :src="image.src" alt="">
					</div>
				</div>
				<div class="footer-right">
					<form-checkbox class="checkbox" :checked="idea" @change="idea = !idea">
						Идея
					</form-checkbox>
					<button class="post-add__submit" @click="submitForm">
						<svg-icon name="arrow"/>
					</button>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import FormCheckbox from '~/components/block/form/checkbox.vue'
import { mapActions } from 'vuex'

export default {
	components: {
		'form-checkbox': FormCheckbox
	},
	props: {
		avatar: {
			type: String
		}
	},
	data () {
		return {
			image: null,
			text: 'Новая публикация',
			idea: false
		}
	},
	methods: {
		...mapActions('post', {
			createPost: 'createPost'
		}),
		activeFile() {
			this.$refs.file.click()
		},
		changedFile (e) {
			if (process.browser) {
				const photo = window.URL.createObjectURL(e.target.files[0])
				this.image = {}
				this.image.src = photo
				this.image.object = e.target.files[0]
			}
		},
		deleteImage () {
			this.image = null
		},
		async submitForm () {
			const body = this.$refs.text.innerHTML
			if (body === 'Новая публикация'){
				this.$refs.text.focus()
				return
			}
			if (body.length > 0) {
				const data = {
					// title: _.lowerCase(_.truncate(body, {length: 10})),
					// slug: _.kebabCase(_.truncate(body, {length: 10})), до лучших времен убираем
					body: body,
					idea: this.idea ? 1 : 0,
					published: 1
				}
				if (this.image && this.image.object) {
					data.image = this.image.object 
				}
				let form_data = new FormData()
				_.forEach(data, (value, key) => {
					form_data.append(key, value)
				})
				let res = await this.createPost(form_data)
				if (res) {
					this.$refs.text.innerHTML = 'Новая публикация'
					this.image = null
				}
			}
		},
		clearField () {
			if (this.$refs.text.innerHTML === 'Новая публикация') this.$refs.text.innerHTML = ''
		},
		fullField () {
			if (this.$refs.text.innerHTML.length > 0) return
			this.$refs.text.innerHTML = 'Новая публикация'
		}
	}
}
</script>


<style lang="stylus" scoped>
@import '~assets/style/core/variables.styl'
.post
	margin-bottom 4rem
	background-color $mainBg
	box-shadow 0rem 0.7rem 0.9rem rgba(0, 0, 0, 0.3)
	
	&__content
		padding 3rem 4rem

		&:nth-of-type(1)
			border-bottom 0.1rem solid $border

.post-add
	&__img
		min-width 5rem
		min-height 5rem
		min-width 5rem
		min-height 5rem
		width 5rem
		height 5rem
		border-radius 50%
		overflow hidden

		img
			width 100%
			height 100%
			object-fit cover
	
	&__header
		display flex
		align-items flex-start
		justify-content flex-start
		flex-wrap nowrap
	
	&__content
		color lighten($darkColor, 20%)
		line-height 3rem
		font-size 1.3rem
		margin-left 2rem
		flex-grow 1
		min-height 5rem
		outline none

	&__footer
		display flex
		justify-content flex-start
		align-items center
		height 4.75rem

	&__attach
		width 1.8rem
		height 1.8rem
		cursor pointer

		svg 
			width 100%
			height 100%

	&__imglist
		margin-left 2rem
		display flex
		align-items center
		& div
			width 6rem
			height 6rem
			position relative
			cursor pointer
			margin-right 1rem

			&:nth-last-of-type(1)
				margin-right 0

			&:after
				content ''
				position absolute
				top 0
				left 0
				right 0
				bottom 0
				background-color rgba(64, 64, 64, 0)
				transition all 0.2s ease

			&:before
				content ''
				position absolute
				top	50%
				left 50%
				z-index 2
				transform translateX(-50%) translateY(-50%)
				width 60%
				height 0.5rem
				background-color $secondaryColor
				opacity 0

			&:hover
				&:after
					background-color rgba(64, 64, 64, 0.8)
				&:before
					opacity 1

			img
				object-fit cover
				width 100%
				height 100%

	&__submit
		margin-left 2.5rem
		cursor pointer
		line-height 0
		outline none
		padding 0
		width 3.2rem
		height 3.2rem
		background-color $whiteColor
		border none
		border-radius 50%
		color $primaryColor
		transition all 250ms ease-out

		&:hover
			background-color $secondaryColor

		svg
			transform rotate(-90deg)
			width 1.2rem
			height 1.2rem

.footer-right
	margin-left auto
	display flex
	flex-direction row
	align-items center
	
	.checkbox
		color $whiteColor
</style>
