<template>
	<div class="adversing">
		<div class="adversing__content">
			<div class="adversing__header">
				<p class="adversing__title">Реклама</p>
				<button class="adversing__close">
					<svg-icon name="close"/>		
				</button>
			</div>
			
			<div class="adversing__body">
				<p class="adversing__text">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse error ratione 
				</p>
			</div>
		</div>
	</div>
</template>

<script>

export default {

}

</script>

<style scoped lang="stylus">
@import '~assets/style/core/variables.styl'

p
	margin 0

.adversing
	box-sizing border-box
	*
		box-sizing border-box
	margin-bottom 4rem
	background-color $whiteColor
	box-shadow 0rem 0.7rem 0.9rem rgba(0, 0, 0, 0.3)
	&__content
		padding 3rem 4rem
	&__header
		display flex
		flex-direction row
		justify-content space-between
	&__title
		font-size 2.4rem
		line-height 3.6rem
		margin-right 2rem
	&__close
		cursor pointer
		padding 1rem
		background none
		border none
		line-height 0
		color $blackColor
		transition all 250ms ease-out
		&:hover
			color $border
		svg
			width 1.4rem
			height 1.4rem
	&__body
		margin-top 1.3rem
	&__text
		font-size 1.5rem
		line-height 2
		color $blackColor
			
				
</style>