<template>
	<div class="controls">
		<button 
			class="like"
			@click="likeMe"
			v-bind:class="{'active': likeStatus}">
			<svg-icon name="like-hand"/>
			<span>{{ likes }}</span>
		</button>
		<button
			class="dislike"
			@click="disLikeMe"
			:class="{'active': dislikeStatus}"
		>
			<svg-icon name="like-hand"/>
			<span>{{ dislikes }}</span>
		</button>
		<button 
			class="comment" 
			@click="$emit('comment')"
			v-bind:class="{'active': comment_active}">
			<svg-icon name="comment"/>
			<span>{{ comments }}</span>
		</button>
	</div>
</template>

<script>
export default {
	props: {
		like_active: {
			type: Boolean
		},
		likes: {
			type: Number
		},
		dislikes: {
			type: Number
		},
		dislike_active: {
			type: Boolean
		},
		comment_active: {
			type: Boolean
		},
		comments: {
			default: 123
		}
	},
	data () {
		return {
			likeClicked: false,
			dislikeClicked: false
		}
	},
	computed: {
		likeStatus () {
			return this.like_active //^ this.likeClicked
		},
		dislikeStatus () {
			return this.dislike_active //^ this.dislikeClicked
		}
	},
	methods: {
		likeMe() {
			this.likeClicked = !this.likeClicked
			this.$emit('like', 'like')
		},
		disLikeMe() {
			this.dislikeClicked = !this.dislikeClicked
			this.$emit('like', 'dislike')
		}
	}
}
</script>

<style scoped lang="stylus">
@import '~assets/style/core/variables.styl'

*
	box-sizing border-box
		
.controls
	display flex
	flex-direction row
	align-items center
	flex-shrink 0

button
	cursor pointer
	outline none
	padding 0
	background none
	border none	
	display flex
	flex-direction row
	align-items center
	transition all 250ms ease-out
	color $darkColor

	& span
		font-weight 600
		font-size 1.3rem
		line-height 1.5rem
		color $darkColor
		padding-top 0.1rem

	svg
		width 2rem
		height 2rem
		margin-right 1rem
		transition all 250ms ease-out

.like
	margin-right 4rem
	
	&:hover svg
		color rgba($secondaryColor, 0.5)

	&.active
		color $whiteColor
		svg
			animation post-like 0.3s ease-out
			color $secondaryColor

			&:hover
				// color rgba($secondaryColor, 0.5)

.dislike
	margin-right 4rem

	svg
		transform rotate(180deg) translateY(-0.3rem)
	
	&:hover svg
		color rgba($secondaryColor, 0.5)

	&.active
		color $whiteColor
		svg
			animation post-dislike 0.3s ease-out
			color $secondaryColor

			&:hover
				// color rgba($secondaryColor, 0.5)

.comment.active
	color $whiteColor
	
	&:hover svg
		color rgba($whiteColor, 0.5)

@keyframes post-like {
	0% {
		transform scale(1)
	}
	50% {
		transform scale(1.15)
	}
	100% {
		transform scale(1)
	}
}
@keyframes post-dislike {
	0% {
		transform scale(1) rotate(180deg) translateY(-0.3rem)
	}
	50% {
		transform scale(1.15) rotate(180deg) translateY(-0.3rem)
	}
	100% {
		transform scale(1) rotate(180deg) translateY(-0.3rem)
	}
}	
</style>