<template>
	<div class="comment">
		<div class="comment__header" ref="meta">
			<router-link :to="`/user/${comment.author.id}`" class="photo">
				<img :src="avatar" alt="">
			</router-link>
			<router-link
				:to="`/user/${comment.author.id}`"
				class="name"
				v-text="fullname" />
			<p class="date" v-text="moment" />

			<!-- DOTO: Ждем пока доделается на бэке -->
			<!-- <button class="btn" @click="open()" v-if="authUser && authUser.id === comment.author.id">
				<svg-icon name="more" />
			</button>
			<transition name="modal">
				<ul class="drop" v-if="openMeta">
					<li>Редактировать</li>
					<li @click="deleteComment({id: comment.id, model_id: comment.model_id})">Удалить</li>
				</ul>
			</transition> -->
		</div>

		<div class="comment__body">
			{{ comment.comment }}
		</div>

		<div class="comment__footer">
			<!-- <button class="add">
				<svg-icon name="comment"/>
				Комментировать
			</button> -->
			
			<!-- <div class="control">
				<button class="control__like">
					<svg-icon name="like-comment"/>
				</button>
				<span class="control__count">2</span>
				<button class="control__dislike">
					<svg-icon name="like-comment"/>
				</button>
			</div> -->
		</div>
	</div>
</template>

<script>
import moment from 'moment'
moment.locale('ru')
import { mapState, mapActions } from 'vuex'

export default {
	props: {
		comment: {
			type: Object
		}
	},
	data () {
		return {
			openMeta: false
		}
	},
	computed: {
		moment () {
			return moment(this.comment.created_at.date, 'YYYY-MM-DD hh:mm:ss').fromNow()
		},
		...mapState({
			authUser: state => state.user.userInfo
		}),
		fullname () {
			return this.comment.author.name + ' ' + this.comment.author.surname
		},
		avatar () {
			const user = this.comment.author
			if (user && user.avatar)
				return user.avatar
			
			if (user && user.gender && user.gender === 'f')
				return require('~/assets/img/default-user.female.png')

			return require('~/assets/img/default-user.male.png')
		}
	},
	methods: {
		...mapActions('comment', {
			deleteComment: 'deleteComment'
		}),
		open () {
			this.openMeta = true

			if (process.browser) {
				document.addEventListener('click', e => {
					if (e.path.indexOf(this.$refs.meta) !== -1) {
						this.open()
						return
					}

					this.openMeta = false
				}, {once: true})
			}
		}
	}
}
</script>

<style scoped lang="stylus">
@import '~assets/style/core/variables.styl'

p
	margin 0

.comment
	padding 2rem 3rem 2rem 3rem 
	border-bottom 0.1rem solid $border
	&__header
		display flex
		flex-direction row
		align-items center
		position relative
		.photo
			width 3.2rem
			height 3.2rem
			border-radius 0.3rem
			margin-right 2rem
			img
				border-radius inherit
				width 100%
				height 100%
				object-fit cover
		.name
			text-decoration none
			font-size 1.4rem
			line-height 2.5rem
			color $whiteColor
			margin-right 2rem
		.date
			font-size 1.2rem
			line-height 2.5rem
			color lighten($darkColor, 10%)
		.btn
			margin-left auto
			padding 1rem 0.5rem
			border none
			background none
			line-height 0
			cursor pointer
			outline none

			svg 
				width 1.6rem
				height 1.4rem
				color $darkColor
	
	&__body
		font-size 1.3rem
		line-height 3rem
		margin 1.3rem 0 1rem 0
		padding 0 5rem
		color lighten($darkColor, 20%)
	
	&__footer
		padding 0 5rem
		display flex
		flex-direction row
		align-items center
		.add
			cursor pointer
			outline none
			padding 0
			border none
			background none
			display flex
			flex-direction row
			align-items center
			color lighten($darkColor, 20%)
			font-size 1.3rem
			margin-right 4.3rem
			transition all 250ms ease-out
			&:hover
				color $grayColor
			svg
				width 2rem
				height 2rem
				margin-right 1.7rem
			
		.control
			display flex
			flex-direction row
			align-items center
			&__like, &__dislike
				outline none
				cursor pointer
				padding 0
				border none
				background none
				line-height 0
				color lighten($darkColor, 20%)
				transition all 250ms ease-out
				&:hover
					color $grayColor
				svg
					width 2rem
					height 2rem
			&__dislike
				transform: rotate(180deg)
			&__count
				color lighten($darkColor, 20%)
				font-size 1.3rem
				margin 0 1.5rem

.modal
	&-enter-active, &-leave-active
		transition all 250ms ease-out
		overflow hidden
		opacity 1
		transform translateY(0%)

	&-enter, &-leave-to
		opacity 0.2
		transform translateY(15%)
		

	
ul.drop
	position absolute
	z-index 2
	top 100%
	right 0
	border-radius 0.4rem
	background $mainBg
	padding 0
	list-style none
	margin -0.6rem 0.3rem 0 0
	border 0.1rem solid $border
	
	&:after
		content ''
		width 100%
		position absolute
		height 1rem
		background-color transparent
		bottom 100%
		left 0
	
	li
		color $buttonColor
		font-size 1.4rem
		line-height 1
		padding 1rem
		min-width 10rem
		text-align right
		cursor pointer
		background-color transparent
		transition all 250ms ease-out
		
		& + &
			border-top 0.1rem solid $border
		
		&:hover
			color $whiteColor
			background-color $border
</style>