<template>
	<div class="vue-comments">
		<button class="more" v-if="!allComments" @click="showMore()">
			Загрузить еще
		</button>

		<template v-if="!!comments[idPost] && idPost in comments">
			<Comment
				v-for="(comment, index) in comments[idPost]"
				v-if="index < view"
				:comment="comment"
				:key="comment.id"
				/>
		</template>

		<comment-form @commentCreateEmit="view++" :idPost="idPost" />
	</div>
</template>

<script>
import Comment from './comment.vue'
import CommentForm from '~/components/block/post/comment-form.vue'

import { mapActions, mapState, mapGetters } from 'vuex'

export default {
	components: {
		'Comment': Comment,
		'comment-form': CommentForm
	},
	data () {
		return {
			allComments: true,
			view: 3 
		}
	},
	props: {
		idPost: {
			type: Number,
			default: 0
		}
	},
	computed: {
		...mapState({
			comments: (state) => state.comment.comments
		}),
		/*...mapState({
			comments: state => state.comment.comments
		}),*/
		post() {
			return 'filters[model_id]=' + this.idPost
		}
	},
	async created () {
		const params = `conditions[page]=1&${this.post}&conditions[per_page]=3`
		const result = await this.getComments({
			params: params,
			postID: this.idPost
		})

		console.log(result)

		if (result.data && result.data.meta.total > 3) 
			this.allComments = false
	},
	methods: {
		...mapActions('comment', {
			getComments: 'getComments'
		}),
		async showMore () {
			const params = `conditions[page]=1&${this.post}&conditions[per_page]=100`
			await this.getComments({
				params: params,
				postID: this.idPost
			})
			this.view = 100
			this.allComments = true
		}
	}
}
</script>

<style scoped lang="stylus">
@import '~assets/style/core/variables.styl'

.vue-comments
	border-top 0.1rem solid $border

p
	margin 0

.more
	cursor pointer
	outline none
	padding 2.2rem 0
	border none
	border-bottom 0.1rem solid $border
	border-top 0.1rem solid $border
	background none
	display block
	width 100%
	text-align center
	color lighten($darkColor, 20%)
	font-weight 800	
	font-size 1.2rem
	text-transform uppercase
	letter-spacing 0.1rem
	transition all 250ms ease-out
	&:hover
		color $grayColor
</style>