<template>
	<div class="vue-comment-form new-comment">
		<div class="avatar">
			<img :src="avatar">
		</div>
		<textarea v-resize rows="1" @keydown.ctrl.enter="send()" v-model="text" placeholder="Напишите комментарий" class="new-comment__message"></textarea>
		<button @click="send()">
			<svg-icon name="arrow"/>
		</button>
	</div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import TextareaResize from '~/assets/directive/resize-textarea.js'

export default {
	directives: {
		resize: TextareaResize
	},
	data () {
		return {
			text: ''
		}
	},
	computed: {
		...mapGetters('user', {
			avatar: 'avatar'
		})
	},
	props: {
		idPost: {
			type: Number,
			default: 0
		}
	},
	methods: {
		...mapActions('comment', {
			created: 'createdComment'
		}),
		async send() {
			this.$emit('commentCreateEmit')
			await this.created({
				model_id: this.idPost, 
				comment: this.text
			})
			this.text = ''
		}
	}
}
</script>

<style scoped lang="stylus">
@import '~assets/style/core/variables.styl'

p
	margin 0
		
.vue-comment-form
	padding 2rem 4rem 3rem 3rem
	display flex
	flex-direction row
	align-items flex-end

.avatar
	width 3.2rem
	height 3.2rem
	border-radius 0.3rem
	
	img
		border-radius inherit
		width 100%
		height 100%
		object-fit cover

textarea
	outline none
	font-size 1.3rem
	font-weight 600
	line-height 2rem
	flex-grow 1
	margin 0 2rem
	font-family Roboto
	background none
	border none
	color lighten($darkColor, 20%)
	resize none

button
	cursor pointer
	line-height 0
	outline none
	padding 0
	width 3.2rem
	height 3.2rem
	background-color $whiteColor
	border none
	border-radius 50%
	color $primaryColor
	
	svg
		transform rotate(-90deg)
		width 1.2rem
		height 1.2rem
</style>