<template>
	<div class="vue-post-add post-add">
		<div class="post__content">
			<div class="post-add__header">
				<div class="post-add__img">
					<img :src="avatar" alt="Ваш аватар">
				</div>
				<div class="post-add__content" ref="text" @input="editBody" @keydown.ctrl.enter="submitForm" contenteditable v-text="post.body" />
			</div>
		</div>
		<div class="post__content">
			<div class="post-add__footer">
				<label class="post-add__attach">
					<svg-icon name="attach-image" />
					<input v-show="false" @change="changedFile" ref="file" type="file" accept="image/jpeg,image/png">
				</label>
				<div class="post-add__imglist">
					<div v-if="editedPost && editedPost.image" @click="deleteImage()">
						<img :src="editedPost.image" alt="">
					</div>
				</div>
				<button class="post-add__submit" @click="submitForm">
					<svg-icon name="arrow"/>
				</button>
				<button class="post-add__submit" @click="$emit('done')" title="отменить">
					<svg-icon name="close" title="отменить" />
				</button>
			</div>
		</div>
	</div>
</template>

<script>
import { mapActions } from 'vuex'
export default {
	props: {
		post: {
			type: Object
		}
	},
	data () {
		return {
			editedPost: {},
			newImage: false
		}
	},
	computed: {
		avatar () {
			const user = this.editedPost.author
			
			if (user && user.avatar)
				return user.avatar
			
			if (user && user.gender && user.gender === 'f')
				return require('~/assets/img/default-user.female.png')

			return require('~/assets/img/default-user.male.png')
		}
	},
	created () {
		this.editedPost = _.cloneDeep(this.post)
	},
	methods: {
		...mapActions('post', {
			editPost: 'editPost'
		}),
		changedFile (e) {
			if (process.browser) {
				const photo = window.URL.createObjectURL(e.target.files[0])
				this.editedPost.image = photo
				this.newImage = true
			}
		},
		deleteImage () {
			this.editedPost.image = null
			this.newImage = true
		},
		editBody (e) {
			this.editedPost.body = e.target.innerText
		},
		async submitForm () {
			const data = {
				post_id: this.editedPost.id,
				post: {
					body: this.editedPost.body
				}
			}

			if (this.newImage)
				data.post.image = this.$refs.file.files[0] || ''

			await this.editPost(data)

			this.$emit('update')
		}
	}
}
</script>


<style lang="stylus" scoped>
@import '~assets/style/core/variables.styl'
.post
	margin-bottom 4rem
	background-color $mainBg
	box-shadow 0rem 0.7rem 0.9rem rgba(0, 0, 0, 0.3)
	
	&__content
		padding 3rem 0

		&:nth-of-type(1)
			border-bottom 0.1rem solid $border

.post-add
	&__img
		min-width 5rem
		min-height 5rem
		min-width 5rem
		min-height 5rem
		width 5rem
		height 5rem
		border-radius 50%
		overflow hidden

		img
			width 100%
			height 100%
			object-fit cover
	
	&__header
		display flex
		align-items flex-start
		justify-content flex-start
		flex-wrap nowrap
	
	&__content
		color $whiteColor
		line-height 3rem
		font-size 1.3rem
		margin-left 2rem
		flex-grow 1
		min-height 5rem
		outline none

	&__footer
		display flex
		justify-content flex-start
		align-items center
		height 4.75rem

	&__attach
		width 1.8rem
		height 1.8rem
		cursor pointer

		svg 
			width 100%
			height 100%

	&__imglist
		margin-left 2rem
		display flex
		align-items center
		& div
			width 6rem
			height 6rem
			position relative
			cursor pointer
			margin-right 1rem

			&:nth-last-of-type(1)
				margin-right 0

			&:after
				content ''
				position absolute
				top 0
				left 0
				right 0
				bottom 0
				background-color rgba(64, 64, 64, 0)
				transition all 0.2s ease

			&:before
				content ''
				position absolute
				top	50%
				left 50%
				z-index 2
				transform translateX(-50%) translateY(-50%)
				width 60%
				height 0.5rem
				background-color $secondaryColor
				opacity 0

			&:hover
				&:after
					background-color rgba(64, 64, 64, 0.8)
				&:before
					opacity 1

			img
				object-fit cover
				width 100%
				height 100%

	&__submit
		margin-left auto
		cursor pointer
		line-height 0
		outline none
		padding 0
		width 3.2rem
		height 3.2rem
		background-color $whiteColor
		border none
		border-radius 50%
		color $primaryColor

		svg
			transform rotate(-90deg)
			width 1.2rem
			height 1.2rem
		
		&:nth-last-of-type(1)
			margin 0 0 0 1.5rem
</style>
