<template>
	<div class="post">
		<div class="post__content">
			<div class="post__header">
				<slot name="postHeader">
					<router-link
						:to="`/user/${post.author.id}`"
						:title="post.author.nickname"
						class="photo">
						<img :src="getAvatar()" alt="user">
					</router-link>
					<div class="info">
						<router-link :to="`/user/${post.author.id}`" class="info__name" v-html="getAuthorFullName()" />
						<p class="info__date" v-text="moment" />
					</div>
				</slot>
			</div>
			
			<div v-if="!edit" class="post__body">
				<div class="text" @click="showTag($event.target)" v-html="postBody" />

				<!-- TODO: заменить на post.images.medium когда решиться на бэке -->
				<!-- ready -->
				<modal-image v-if="post.images.original" :image="{src: post.images.medium}" :origin="post.images.original" />
			</div>

			<edit-post
				v-if="edit"
				class="post__body"
				:post="post"
				@update="edit = false"
				@done="edit = false" />
			
			<div class="post__footer" v-if="isAuth">
				<comment-meta
					:like_active="post.like"
					:likes="post.likes"
					:dislike_active="post.dislike"
					:dislikes="post.dislikes"
					:comment_active="showComment"
					:comments="post.comments"
					class="post-meta"
					@like="doLike"
					@comment="showComment = !showComment" />
				<button v-if="userPost" @click="edit = true" class="edit-post">
					Редактировать
					<svg-icon class="svg-bin" name="edit" />
				</button>
				<button v-if="userPost" @click="deletePost(post.id)" class="delete-post">
					Удалить
					<svg-icon class="svg-bin" name="bin" />
				</button>
				<slot name="postFooter" />
			</div>
		</div>

		<Comments :idPost="post.id" v-if="showComment" />
	</div>
</template>

<script>
import moment from 'moment'
moment.locale('ru')
import { mapActions, mapGetters, mapMutations } from 'vuex'

import Comments from './comments.vue'
import CommentsMeta from './comment-meta.vue'
import EditPost from '~/components/block/post/editPost.vue'
import ModalImage from '~/components/block/modalImage.vue'

export default {
	components: {
		'Comments': Comments,
		'comment-meta': CommentsMeta,
		'edit-post': EditPost,
		'modal-image': ModalImage
	},
	data () {
		return {
			showComment: false,
			edit: false
		}
	},
	props: {
		post: {
			type: Object,
			default: () => {
				return {
					slug: '',
					author:{
						id: 1
					}
				}
			}
		},
		userPost: {
			type: Boolean,
			default: () => false
		}
	},
	computed: {
		moment () {
			return moment(this.post.created_at.date, 'YYYY-MM-DD hh:mm:ss').fromNow()
		},
		postBody () {
			const ttt = this.post.body.split(/(#.[^\ ]*)/)
			let result = ""

			ttt.forEach(str => {
				if (str[0] === '#')
					result += `
						<span data-link="${str.substr(1)}" style="color: #ffc001; text-decoration: none; cursor: pointer">${str}</span>`
				else
					result += str
			})

			const striptags = require('striptags')
			result = striptags(result, ['<script>', '<button>', '<a>'])

			return result
		},
		...mapGetters('user', {
			isAuth: 'isAuth'
		})
	},
	methods: {
		getAvatar () {
			if (this.post.author.avatar)
				return this.post.author.avatar
			
			if (this.post.author.gender && this.post.author.gender === 'f')
				return require('~/assets/img/default-user.female.png')

			return require('~/assets/img/default-user.male.png')				
		},
		getAuthorFullName () {
			const user = this.post.author

			return  (user.name || user.surname) ? user.name + ' ' + user.surname : user.nickname
		},
		async doLike (status) {
			const isLike = await this.like({id: this.post.id, status: status})
			if (!isLike) {
				console.log('error')
			}
		},
		...mapActions('post', {
			like: 'likePost',
			deletePost: 'deletePost',
			dislike: 'dislikePost'
		}),
		showTag (elem) {
			const search = elem.getAttribute('data-link')
			if (search)
				this.$router.push(`/search?search=${search}`)
		}
	}

}
</script>

<style scoped lang="stylus">
@import '~assets/style/core/variables.styl'

*
	box-sizing border-box

p
	margin 0

.post
	margin-bottom 4rem
	background-color $mainBg
	box-shadow 0rem 0.7rem 0.9rem rgba(0, 0, 0, 0.3)
	
	&__content
		padding 3rem 4rem
	
	&__header
		display flex
		flex-direction row
		// justify-content space-between
		justify-content flex-start
	
		.info
			margin-right 2rem
	
			&__name
				text-decoration none
				color $whiteColor
				font-size 1.5rem
				line-height 2.4rem
	
			&__date
				color $assetsColor
				font-size 1.3rem
				line-height 2.4rem
	
			&__self
				color darken($whiteColor, 50)
				font-size 1.4rem
				line-height 1.6rem
				align-self center
	
			&__more
				margin-left auto
				padding 1rem 0.5rem
				border none
				background none
				line-height 0
	
				svg 
					width 1.6rem
					height 0.4rem	
	
		.photo
			flex-shrink 0
			width 3.2rem
			height 3.2rem
			border-radius 0.3rem
			margin 0.5rem 1rem 0 0
	
			img
				border-radius inherit
				width 100%
				height 100%
				object-fit cover
				border-radius 100%
				
	&__body
		margin-top 3rem
		margin-bottom 2rem
	
		.text
			font-size 1.6rem
			line-height 2
			margin-bottom 2rem
			color $whiteColor
			word-break break-all
	
		.img
			cursor pointer
			margin-top 2rem
			width 100%
			height auto
			max-height 30rem
			object-fit cover
			border-radius 3px
			
	&__footer
		display flex
		flex-direction row
		justify-content space-between
		align-items flex-end
			
		.tags
			display flex
			flex-direction row
			align-items center
			justify-content flex-end
			flex-wrap wrap
			&__item
				display block
				font-size 1.2rem
				text-align center
				padding 0.1rem 1rem
				color $secondaryColor
				text-transform uppercase
				text-decoration none
				background-color darken($darkColor, 50%)
				border-radius 0.3rem
				margin-left 1rem
				margin-top 1rem

.post-meta
	margin-right auto

.delete-post, .edit-post
	background-color transparent
	color darken(#666666, 0.3)
	border none
	outline none
	font-weight 500
	font-size 1.3rem
	display flex
	align-items center
	cursor pointer
	transition all 250ms ease-out

	.svg-bin
		margin-left 1.2rem
		height 1.8rem
		width 1.4rem
		color $svgFill
	
	&:hover
		color $secondaryColor
		
		svg
			color $secondaryColor
</style>