<template>
	<div class="question-component" :class="{'_invalid': !question.valid}">
		<div>
			<p class="step">{{ `Вопрос ${step}` }}</p>
		</div>
		<div>
			<p class="title" v-text="question.title" />
			<question-write v-if="question.type === 'write'" v-model="answer" />
			<question-checked v-if="question.type === 'checked'" :options="question.options" v-model="answer" />
		</div>
	</div>
</template>

<script>
import WriteQuestion from '~/components/promo/test/question-write.vue'
import CheckedQuestion from '~/components/promo/test/question-checked.vue'

export default {
	components: {
		'question-write': WriteQuestion,
		'question-checked': CheckedQuestion
	},
	props: {
		step: {
			type: Number,
			default: 1
		},
		question: {
			type: Object,
			default: () => {
				return {
					title: 'Вопрос?',
					type: 'write'
				}
			}
		}
	},
	data () {
		return {
			answer: ''
		}
	},
	watch: {
		answer (val) {
			this.$emit('answerEmit', val)
		}
	}
}
</script>

<style scoped lang="stylus">
@import '~assets/styl/style.styl'
@import '~assets/styl/core/variables.styl'

.question-component
	display flex
	flex-wrap wrap
	justify-content space-between
	align-items flex-start
	
	& > *
		$gutter = 30px
		
		&:nth-of-type(1)
			width 165px
			margin-right $gutter
			
		&:nth-of-type(2)
			width "calc(100% - 165px - %s)" % $gutter
	
	&._invalid
		.step, .title
			font-weight bold
			color red			

.step
	font-weight normal
	line-height 20px
	font-size 11px
	letter-spacing 1px
	text-transform uppercase
	color $lightColor

.title
	font-weight normal
	line-height 1
	font-size 18px
	margin-bottom 30px
	color $blackColor

</style>
