<template>
	<div>
		<label class="box" v-for="(option, index) in options" :key="index">
			<input
				@input="$emit('input', true)"
				:name="name"
				type="radio"
				@change="$emit('input', option)">
			<span class="radio"></span>
			<span class="label" v-text="option" />
		</label>
	</div>
</template>

<script>
export default {
	props: {
		options: {
			type: Array,
			default: () => [
				'Sample text',
				'Sample text',
				'Sample text'
			]
		}
	},
	computed: {
		name () {
			return 'name-' + Math.round(Math.random() * 100000);
		}
	}
}
</script>

<style scoped lang="stylus">
@import '~assets/styl/style.styl'
@import '~assets/styl/core/variables.styl'

.box
	display flex
	flex-direction row
	justify-content flex-start
	align-items center
	cursor pointer
	margin-bottom 20px
	
	&:nth-last-of-type(1)
		margin-bottom 0

input
	display none

	& + .radio
		position relative
		width 13px
		height 13px
		border 1px solid #383838
		background-color transparent
		position relative
		border-radius 50%
		margin-right 15px
		transition all 250ms ease-out

	&:checked + .radio::before
		content ''
		position absolute
		width 7px
		height 7px
		top calc(50% - 3.5px)
		left calc(50% - 3.5px)
		border 1px solid #383838
		border-radius 100%
		background-color #383838

.label
	font-size 15px
</style>