<template>
	<div>
		<input
			type="text"
			:value="value"
			placeholder="Правильный ответ"
			@input="$emit('input', $event.target.value)">
	</div>
</template>

<script>
export default {
	props: {
		value: {
			type: String,
			default: ''
		}
	}
}
</script>

<style scoped lang="stylus">
@import '~assets/styl/style.styl'
@import '~assets/styl/core/variables.styl'

input
	min-width 430px
	height 50px
	background $whiteColor
	border 1px solid $blackColor
	border-radius 3px
	padding 0 20px
	line-height 50
	font-size 15px
</style>