<template>
	<div class="account">
		<p class="title">
			Аккаунт
		</p>

		<div class="grid">
			<text-input
				:required="false"
				v-model="user.nickname"
				label="Имя пользователя"
				class="text-input"
				placeholder="Username"
				@input="$emit('edit', user)" />
			<text-input
				:required="false"
				type="password"
				label="Новый пароль"
				class="text-input"
				placeholder="Enter password"
				v-model="user.password"
				@input="$emit('edit', user)" />
			<text-input
				:required="false"
				type="password"
				label="Повторите пароль"
				class="text-input"
				placeholder="Retry password"
				v-model="user.password_confirmation"
				@input="$emit('edit', user)" />
		</div>
	</div>
</template>

<script>
import TextInput from '~/components/block/form/text-input.vue'

export default {
	components: {
		'text-input': TextInput
	},
	model: {
		prop: 'user',
		event: 'edit'
	},
	props: {
		user: {
			type: Object
		}
	}
};
</script>

<style scoped lang="stylus">
@import '~assets/style/core/variables.styl'

.title
	font-size 1.6rem
	line-height 3rem
	margin 0 0 3rem
	color darken($darkColor, 15%)

.grid
	display flex
	flex-direction row
	justify-content flex-start
	align-items stretch
	flex-wrap wrap
	box-sizing border-box
	& > *
		margin-top 3rem
		margin-right 3rem
		width calc(100% / 3 - 2rem)
		&:nth-of-type(3n) 
			margin-right 0
		&:nth-of-type(-n+3) 
			margin-top 0
		

.text-input
	color darken($darkColor, 15%)
	
/*button.action
	cursor pointer
	display flex
	flex-direction row
	align-items center
	justify-content center
	width 100%
	border 0.2rem solid $border
	outline none
	border-radius 0.4rem
	background none
	font-size 1.2rem
	font-weight 700
	color $text-info
	padding 1.6rem 1.7rem
	transition all 250ms ease-out

	&:hover
		color $whiteColor
		border-color $text-lightgray*/

</style>
