<template>
	<div class="dellivery">
		<p class="title">
			Контакты
		</p>

		<div class="grid">
			<text-input
				:required="false"
				label="Страна"
				v-model="user.country"
				class="text-input"
				placeholder="Россия"
				@input="$emit('edit', user)" />
			<text-input
				:required="false"
				label="Регион"
				v-model="user.region"
				class="text-input"
				placeholder="Москва"
				@input="$emit('edit', user)" />
			<text-input
				:required="false"
				label="Город"
				v-model="user.city"
				class="text-input"
				placeholder="Москва"
				@input="$emit('edit', user)" />
		</div>

		<div class="row">
			<text-input
				:required="false"
				label="Профессия"
				v-model="user.profession"
				class="text-input"
				placeholder="Трейдер"
				@input="$emit('edit', user)" />
			<text-input
				:required="false"
				label="Опыт работы"
				v-model="user.experience"
				class="text-input"
				placeholder="15 лет на бирже"
				@input="$emit('edit', user)" />
		</div>
	</div>
</template>

<script>
import TextInput from '~/components/block/form/text-input.vue';
import SelectInput from '~/components/block/form/select.vue';

import Vue from 'vue';

export default {
	components: {
		'text-input': TextInput,
		'select-input': SelectInput
	},
	model: {
		prop: 'user',
		event: 'edit'
	},
	props: {
		user: {
			type: Object
		}
	}
};
</script>

<style scoped lang="stylus">
@import '~assets/style/core/variables.styl'

.title
	font-size 1.6rem
	line-height 3rem
	margin 0 0 3rem
	color darken($darkColor, 15%)

.grid
	display flex
	flex-direction row
	justify-content flex-start
	align-items stretch
	flex-wrap wrap
	box-sizing border-box
	& > *
		margin-top 3rem
		margin-right 3rem
		width calc(100% / 3 - 2rem)
		&:nth-of-type(3n) 
			margin-right 0
		&:nth-of-type(-n+3) 
			margin-top 0
		

.text-input
	color darken($darkColor, 15%)
	
.row
	display flex
	flex-direction row
	justify-content flex-start
	align-items stretch
	margin-top 3rem
	.text-input
		&:nth-of-type(1)
			width calc(100% / 3 - 1.5rem)
			margin-right 3rem
	

		&:nth-of-type(2)
			width calc(100% * 2 / 3 - 1.5rem)

</style>
