<template>
	<div class="vue-setting-notification">
		<p class="title">
			Уведомления
		</p>
		<div class="grid">
			<checkbox-input
				class="text-input"
				:checked="user.flags.notification['Marketing Messages']"
				@change="setFlag('Marketing Messages', $event)">
				Marketing Messages
			</checkbox-input>
			<checkbox-input
				class="text-input"
				:checked="user.flags.notification['Brand Notifications']"
				@change="setFlag('Brand Notifications', $event)">
				Brand Notifications
			</checkbox-input>
			<checkbox-input
				class="text-input"
				:checked="user.flags.notification['Stock Notifications']"
				@change="setFlag('Stock Notifications', $event)">
				Stock Notifications
			</checkbox-input>
		</div>

	</div>
</template>

<script>
import Vue from 'vue'

import CheckboxInput from '~/components/block/form/checkbox.vue'

export default {
	components: {
		'checkbox-input': CheckboxInput
	},
	model: {
		prop: 'user',
		event: 'edit'
	},
	props: {
		user: {
			type: Object
		}
	},
	methods: {
		setFlag (flag, value) {
			this.user.flags.notification[flag] = value
			this.$emit('input', this.user)
		}
	}
}
</script>

<style scoped lang="stylus">
@import '~assets/style/core/variables.styl'

.title
	font-size 1.6rem
	line-height 3rem
	margin 0 0 3rem
	color darken($darkColor, 15%)

.grid
	display flex
	flex-direction row
	justify-content flex-start
	align-items stretch
	flex-wrap wrap
	box-sizing border-box
	& > *
		margin-top 3rem
		margin-right 3rem
		width calc(100% / 3 - 2rem)
		&:nth-of-type(3n) 
			margin-right 0
		&:nth-of-type(-n+3) 
			margin-top 0
		

.text-input
	color darken($darkColor, 15%)
	
</style>
