<template>
	<div class="personal">
		<p class="title">
			Личная информация
		</p>

			<div class="grid">
				<text-input
					:required="false"
					label="Имя"
					v-model="user.name"
					class="text-input"
					placeholder="Иван"
					@input="$emit('edit', user)" />

				<text-input
					:required="false"
					label="Фамилия"
					v-model="user.surname"
					class="text-input"
					placeholder="Иванов"
					@input="$emit('edit', user)" />

				<date-picker
					class="text-input"
					:required="false"
					v-model="user.birthday"
					label="Дата рождения"
					placeholder="Дата рождения" />

				<select-input
					:required="false"
					label="Пол"
					v-model="user.gender"
					class="text-input"
					:option="[{
						value: 'm',
						name: 'Мужской'
					}, {
						value: 'f',
						name: 'Женский'
					}]"
					@input="$emit('edit', user)" />

				<text-input
					:required="false"
					label="Телефон"
					v-model="user.phone"
					class="text-input"
					placeholder="+7 999 000 00 00"
					@input="$emit('edit', user)" />

				<text-input
					:required="false"
					type="email"
					label="Email"
					class="text-input"
					v-model="user.email"
					placeholder="hello@example.com"
					@input="$emit('edit', user)" />

			</div>
			
	</div>
</template>

<script>
import TextInput from '~/components/block/form/text-input.vue'
import SelectInput from '~/components/block/form/select.vue'
import DatePicker from '~/components/block/form/datepicker.vue'


import Vue from 'vue';

export default {
	components: {
		'text-input': TextInput,
		'select-input': SelectInput,
		'date-picker': DatePicker
	},
	model: {
		prop: 'user',
		event: 'edit'
	},
	props: {
		user: {
			type: Object
		}
	},
	data () {
    	return {
    		l10n: {
				firstDayOfWeek: 1,
				weekdays: {
					shorthand: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Сб'],
					longhand: ['Воскресенье', 'Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота']
				},
				months: {
					shorthand: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
					longhand: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь']
				}
			}
		}
	}
}
</script>

<style scoped lang="stylus">
@import '~assets/style/core/variables.styl'
	
.title
	font-size 1.6rem
	line-height 3rem
	margin 0 0 3rem
	color darken($darkColor, 15%)

.grid
	display flex
	flex-direction row
	justify-content flex-start
	align-items stretch
	flex-wrap wrap
	box-sizing border-box
	& > *
		margin-top 3rem
		margin-right 3rem
		width calc(100% / 3 - 2rem)
		&:nth-of-type(3n) 
			margin-right 0
		&:nth-of-type(-n+3) 
			margin-top 0
		

.text-input
	color darken($darkColor, 15%)
	
</style>
