@import './core/variables.styl'
html
	font-family "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
	font-size calc((100vw / 1440) * 10)
	word-spacing 1px
	box-sizing border-box

body *
	// background-color $primaryColor Перенесено в layout
	font-family Roboto
body
	box-sizing border-box
	margin 0
	padding 0
	-webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale
.svg-sprite
	display none

.content
	max-width 111rem
	margin 0 auto
	box-sizing border-box
	* 
		box-sizing border-box
		
input
	border none
	max-width 100%
	
	&::placeholder
		color darken($darkColor, 30%)
	