<template>
	<transition name="layout" mode="out-in">
		<div>
			<app-header />

			<div class="body">
				<div>
					<p class="skip">ПРОП</p>
					<p class="trading">Трейдинг</p>
				</div>
				<nuxt />
			</div>
			
			<app-footer />

			<svgSpriteLoad/>
		</div>
	</transition>
</template>

<script>
import Vue from 'vue'
import SubscribeHeader from '~/components/promo/header/subscribe.vue'
import DefaultFooter from '~/components/promo/footer/default.vue'
import svgIcon from '~/components/svg-icon.vue'
import svgSpriteLoad from '~/components/svg-sprite-load.vue'

Vue.component('svg-icon', svgIcon)

export default {
	components: {
		'app-header': SubscribeHeader,
		'app-footer': DefaultFooter,
		svgSpriteLoad
	}
}
</script>


<style lang="stylus" scoped>
@import '~assets/styl/style.styl'
@import '~assets/styl/core/variables.styl'

.body
	min-height 100vh
	padding 90px 90px 50px
	max-width 1140px
	margin 0 auto
	background-color $whiteColor
	display flex
	justify-content space-between
	align-items flex-start
	padding 90px 50px
	
	& > div
		$gutter = 30px
		
		&:nth-of-type(1)
			width 165px
			margin-right $gutter
			
		&:nth-of-type(2)
			width "calc(100% - 165px - %s)" % $gutter

.skip
	font-weight bold
	line-height 24px
	font-size 15px
	margin 0 0 5px
	color $blackColor

.trading
	font-weight bold
	line-height 28px
	font-size 15px
	color $assetsColor
</style>
