<template>
	<transition name="layout" mode="out-in">
		<div>
			<Header/>
			<nuxt/>
			<Footer/>
			<svgSpriteLoad/>
		</div>
	</transition>
</template>

<script>
import Vue from 'vue'
import Header from '~/components/promo/header/default.vue'
import Footer from '~/components/promo/footer/default.vue'
import svgIcon from '~/components/svg-icon.vue'
import svgSpriteLoad from '~/components/svg-sprite-load.vue'

Vue.component('svg-icon', svgIcon)
export default {
	components: {
		Header,
		Footer,
		svgSpriteLoad
	},
	created () {
		this.$router.options.scrollBehavior = (to, from, savedPosition) => {
			if (savedPosition) {
				return savedPosition
			}

			return {x: 0, y:0}
		}
	}
}
</script>


<style lang="stylus" scoped>
@import '~assets/styl/core/variables.styl'
@import '~assets/styl/style.styl'
</style>

