<template>
	<div>
		<PageHeader
			:show="{title:true, navigation:false}"
			:title="'Ваши настройки'" 
			:navigation="[]" />
		
		<div class="setting content">
			<div class="sidebar">
				<div>
					<a	href="#"
						v-for="(block, index) in blocks"
						:key="index"
						v-scroll-to="`${block.element}, 20px`"
						v-text="block.name" />
				</div>
			</div>

			<no-ssr>
				<div class="main" v-if="user">
					<Personal class="temp" v-model="user" data-personal />
					<Contact class="temp" v-model="user" data-contact />
					<Account class="temp" v-model="user" data-account />
					<!-- <Notification class="temp" v-model="user" data-notifi /> -->

					<div class="temp" data-social>
						<p class="temp__title">
							Социальные сети
						</p>
						<div class="temp__grid">
							<text-input
								:required="false"
								label="VK:"
								type="url"
								v-model="user.flags.social.vk"
								placeholder='http://social-link/'
								class="text-input" />
							<text-input
								:required="false"
								label="Facebook:"
								type="url"
								v-model="user.flags.social.facebook"
								placeholder='http://social-link/'
								class="text-input" />
							<text-input
								:required="false"
								label="Telegram:"
								type="url"
								v-model="user.flags.social.telegram"
								placeholder='http://social-link/'
								class="text-input" />
						</div>
					</div>

					<div class="temp">
						<label>
							Аватар:
							<input type="file" ref="avatar" @input="setImage($event)">
						</label>
						<text-input
							:required="false"
							label="Краткое описание к аккаунту"
							v-model="user.description"
							placeholder='Текст о себе'
							class="text-input" />
					</div>
				</div>
			</no-ssr>
		</div>

		<button class="save" @click="saveUser()">
			Сохранить настройки
		</button>
	</div>
</template>

<script>
import { mapState, mapActions } from 'vuex'
import ScrollTo from '~/directive/scroll-to.js'

import TextInput from '~/components/block/form/text-input.vue';
import Personal from '~/components/setting/personal.vue'
import Contact from '~/components/setting/contact.vue'
import Account from '~/components/setting/account.vue'
import Notification from '~/components/setting/notification.vue'
import PageHeader from '~/components/page/pageHeader.vue'

// import _ from 'lodash'
const _ = {}
_.cloneDeep = require('lodash/cloneDeep')

export default {
	components: {
		'text-input': TextInput,
		'Personal': Personal,
		'Contact': Contact,
		'Notification': Notification,
		'Account': Account,
		'PageHeader': PageHeader
	},
	middleware: 'auth',
	directives: {
		'scroll-to': ScrollTo
	},
	data () {
		return {
			blocks: [
				{
					name: 'Личная информация',
					element: '[data-personal]'
				},
				{
					name: 'Контакты',
					element: '[data-contact]'
				},
				{
					name: 'Управление аккаунтом',
					element: '[data-account]'
				},
				{
					name: 'Соц. сети',
					element: '[data-social]'
				}
			],
			user: null
		}
	},
	computed: {
		...mapState({
			userState: (state) => state.user.userInfo
		})
	},
	mounted () {
		this.user = {
			..._.cloneDeep(this.userState),
			password: '',
			password_confirmation: '',
			avatar: null
		}

		if (!this.user.flags)
			this.user.flags = {}

		if (!this.user.flags.social)
			this.user.flags.social = {
				vk: '',
				facebook: '',
				telegram: ''
			}

		if (!this.user.flags.notification)
			this.user.flags.notification = {
				'Marketing Messages': false,
				'Brand Notifications': false,
				'Stock Notifications': false
			}
	},
	methods: {
		...mapActions('user', {
			save: 'update'
		}),
		saveUser () {
			if ((this.user.password !== this.user.password_confirmation) && !!this.user.password) {
				this.scrollToPassword()

				this.$notify({
					group: 'auth',
					type: 'error',
					title: 'Ошибка!',
					text: 'Пароль не совпадает.'
				})
				return
			}

			if ((0 < this.user.password.length) && (this.user.password.length < 6)) {
				this.scrollToPassword()

				this.$notify({
					group: 'auth',
					type: 'error',
					title: 'Ошибка!',
					text: 'Пароль должен быть не менее 6 символов.'
				})
				return
			}

			this.save(this.user)
				.then(() => {
					this.scrollToTop()
					this.resetPassword()
					this.$notify({
						group: 'auth',
						type: 'success',
						title: 'Обновлен!',
						text: 'Ваш аккаунт удачно обновлен'
					})
				})
		},
		scrollToPassword () {
			if (process.browser) {
				window.scroll({
					top: document.querySelector('[data-account]').offsetTop,
					left: 0,
					behavior: 'smooth'
				})
			}
		},
		scrollToTop () {
			if (process.browser) {
				window.scroll({
					top: 0,
					left: 0,
					behavior: 'smooth'
				})
			}
		},
		resetPassword () {
			this.user.password = ''
			this.user.password_confirmation = ''
		},
		setImage (event) {
			this.user.avatar = event.target.files[0]
		}
	}
}
</script>

<style scoped lang="stylus">
@import '~assets/style/core/variables.styl'

p
	margin 0

.temp
	padding 6rem 9rem
	border-bottom 0.1rem solid $border
	
	&:nth-last-of-type(1)
		border none
	
	&__title
		font-size 1.6rem
		line-height 3rem
		margin 0 0 3rem
		color darken($darkColor, 15%)
	
	&__grid
		display flex
		flex-direction row
		justify-content flex-start
		align-items stretch
		flex-wrap wrap
		box-sizing border-box
		
		& > *
			margin-top 3rem
			margin-right 3rem
			width calc(100% / 3 - 2rem)
		
			&:nth-of-type(3n) 
				margin-right 0
		
			&:nth-of-type(-n+3) 
				margin-top 0

	label
		font-size 2rem
		color darken($darkColor, 15%)

	.text-input
		margin-top 1rem
		color darken($darkColor, 15%)

.setting
	margin-top 4rem
	background-color $mainBg
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	border-radius 0.6rem

.save
	display block
	cursor pointer
	outline none
	padding 0 2rem
	background none
	border none
	font-size 1.3rem
	font-weight 600
	line-height 5rem
	color $primaryColor
	text-transform uppercase
	background-color $secondaryColor
	border-radius 0.4rem
	margin 4rem auto

.sidebar
	width 25.5%
	border-right 0.1rem solid $border
	padding 6rem
	text-align right
	
	div
		position sticky
		top 6rem

	a
		display block
		color $whiteColor
		font-size 1.4rem
		line-height 3rem
		text-decoration none
		margin-bottom 3rem
		transition all 250ms ease-out
		opacity 0.3
		
		&:hover
			opacity 1

.main
	width: 74.5%;

</style>
