<template>
	<div class="footer">
		<nuxt-link to="/">
			<svg-icon class="footer__logo" name="logo"/>
		</nuxt-link>
		<span class="footer__info">
			Все права защищены. СТАЯ
		</span>
	</div>
</template>

<script>
export default {}
</script>


<style lang="stylus" scoped>
@import '~assets/style/core/variables.styl'
.footer
	background-color #131313
	padding 30px 40px
	display flex
	justify-content space-between
	align-items center
	&__logo
		opacity 0.1
		width 98px
		height 27px
	&__info
		font-family Roboto
		font-weight 500
		font-size 14px
		color darken(white, 50%)
</style>

