<template>
	<div class="default">
		<Header />
		<div class="container">
			<nuxt/>
		</div>
		<Footer />
		<no-ssr>
			<notifications group="auth" position="bottom right" />
		</no-ssr>
		<svgSpriteLoad/>
	</div>
</template>

<script>
import Vue from 'vue'
import { getCookie } from '~/assets/cookie.js'
import { mapState, mapGetters, mapActions, mapMutations } from 'vuex'
import svgIcon from '~/components/svg-icon.vue'
import svgSpriteLoad from '~/components/svg-sprite-load.vue'
import Header from '~/components/header/header.vue'
import Footer from '~/components/footer/default.vue'

Vue.component('svg-icon', svgIcon)
export default {
	components: {
		Header,
		Footer,
		svgSpriteLoad
	},
	computed: {
		...mapState({
			auth_error: state => state.user.errors && 'auth_error' in state.user.errors ? state.user.errors.auth_error : null
		}),
		...mapGetters('user', {
			jwt: 'token'
		})
	},
	watch: {
		auth_error (val) {
			// if (val) {
			// 	this.$notify({
			// 		group: 'auth',
			// 		type: 'warning',
			// 		title: 'Ошибка!',
			// 		text: val
			// 	})

			// 	this.$store.commit('user/SET_ERROR', null)
			// }
		}
	},
	mounted () {
		if (process.browser && this.jwt)
			this.setToken(this.jwt)	

		// if (process.browser && this.auth_error) {
		// 	setTimeout(() => {
		// 		this.$notify({
		// 			group: 'auth',
		// 			type: 'warning',
		// 			title: 'Ошибка!',
		// 			text: this.auth_error
		// 		})

		// 		this.$store.commit('user/SET_ERROR', null)
		// 	}, 1000)
		// }		
	},
	methods: {
		...mapMutations('user', {
			setToken: 'SET_COOKIE_TOKEN'
		})
	}
}
</script>


<style scoped lang="stylus">
@import '~assets/style/core/variables.styl'

.default
	min-height 100vh
	display flex
	flex-direction column
	background-color $primaryColor
	.container
			flex-grow 1

	// & > *
	// 	// flex 1 1 100%
	// 	width 100%
</style>

