<template>
	<div>
		<p class="title" v-text="term.title" />
		<p v-for="(line, index) in term.content"
			:key="index"
			class="description"
			v-text="line" />
	</div>
</template>

<script>
export default {
	props: {
		term: {
			type: Object,
			default: () => {
				return {
					title: 'Заголовок',
					content: 'Описание'
				}
			}
		}
	}
}
</script>

<style scoped lang="stylus">
@import '~assets/styl/style.styl'
@import '~assets/styl/core/variables.styl'

div
	margin-bottom 100px

.title
	font-weight 500
	line-height 52px
	font-size 36px
	letter-spacing -1.6px
	color $blackColor
	margin-bottom 60px

.description
	font-weight normal
	line-height 32px
	font-size 18px
	color $blackColor
	margin-bottom 30px

	&:nth-last-of-type(1)
		margin-bottom 0
</style>