<template>
	<div class="page">
		<PageHeader
			@makingSearchEmit="makingSearch"
			:show="{title:true, navigation:true}"
			:title="'Лента'" 
			:navigation="navigation"
			:searchWord="searchWord" />
		<nuxt-child :searchWord='searchWord' @newSearchPraseEmit="setSearchPrase"></nuxt-child>
	</div>
</template>

<script>
import { mapActions, mapState, mapGetters } from 'vuex'
import PageHeader from '~/components/page/pageHeader.vue'

export default {
	components: {
		'PageHeader': PageHeader
	},
	data () {
		return {
			searchWord: ''
		}
	},
	computed: {
		...mapState({
			user: state => state.user.userInfo
		}),
		navigation () {
			if (!!this.user) {
				return [
					{'title': 'Все публикации', 'link': '/'}, 
					{'title': 'Популярное', 'link': '/popular'}, 
					{'title': 'Отслеживаемые', 'link': '/fave'},
					{'title': 'Моя страница', 'link': `/user/${this.user.id}`}
				]
			} else {
				return [
					{'title': 'Все публикации', 'link': '/'}
				]
			}
		}
	},
	methods: {
		...mapActions('post', ['searchPosts']),
		async makingSearch (searchWord){
			if (this.$route.name !== '/') this.$router.push(`/search?search=${searchWord}`)
			await this.searchPosts(searchWord)
		},
		setSearchPrase (searchWord) {
			this.searchWord = searchWord
		}
	}
}
</script>


<style lang="stylus" scoped>


</style>
