<template>
	<div>
		<p class="title">Описание условий</p>

		<condition-card
			v-for="(term, index) in terms"
			:key="index"
			:term="term"></condition-card>

		<div class="links">
			<router-link class="button button_back button_big button_back-dark button_secondary" to="/">
				НА ГЛАВНУЮ
			</router-link>
			<router-link class="button button_primary button_big button_whitebg" to="/promo/intership">
				ЗАПОЛНИТЬ ЗАЯВКУ
			</router-link>
		</div>

	</div>
</template>

<script>
// import SubscribeForm from '~/components/form/subscribe.vue'
import ConditionCard from '~/components/promo/condition/card.vue'
// import showFooterDefault from '~/mixin/defaultFooter.js'

export default {
	layout: 'promo/condition',
	components: {
		// 'subscribe-form': SubscribeForm,
		'condition-card': ConditionCard
	},
	data () {
		return require('./data.json')
	}
}
</script>

<style lang="stylus" scoped>
@import '~assets/styl/style.styl'
@import '~assets/styl/core/variables.styl'

.title
	font-size 84px
	line-height 1
	color $blackColor
	letter-spacing 1px
	font-weight bold
	margin-bottom 100px

.card
	margin-bottom 100px
	
	&:nth-last-of-type(1)
		margin-bottom 60px

.links
	display flex
	justify-content space-between
	flex-wrap nowrap
	flex-direction row
	
	// a
	// 	font-weight bold
	// 	line-height 73px
	// 	font-size 14px
	// 	width 220px
	// 	text-align center
	// 	transition all 250ms ease-out
		
	// 	&:nth-of-type(1)
	// 		color $whiteColor
	// 		background-color $primaryColor
	// 		border 1px solid $primaryColor
			
	// 		&:hover
	// 			background-color $whiteColor
	// 			color $primaryColor
	// 			text-decoration none
		
	// 	&:nth-of-type(2)
	// 		color $primaryColor
	// 		background-color $secondaryColor
	// 		border 1px solid $secondaryColor
			
	// 		&:hover
	// 			background-color $whiteColor
	// 			color $primaryColor
	// 			text-decoration none
</style>
