<template>
	<section class="main">
		<div class="slider" :style="{'background-image': 'url(' + activeSlide.bg +')'}">
			<transition-group name="slideEffect" tag="div">
				<div class="container slider__content slideEffect-item" 
				v-for="(slide, index) in slides" 
				:key="index"
				v-if="slide.id == activeSlide.id"
				>
					<p class="slider__info"><span class="slider__current">0{{slide.id}}</span> / <span class="slider__all">0{{slides.length}}</span></p>
					<div class="slider__title" v-html="slide.title"></div>
					<nuxt-link :to="slide.url" class="button button_primary">Подробнее</nuxt-link>
					<div class="socials">
						<a href="http://twitter.com" target="_blank" rel="nofollow" class="socials__item">Twitter</a>
						<a href="http://facebook.com" target="_blank" rel="nofollow" class="socials__item">Facebook</a>
					</div>
				</div>
			</transition-group>
			<div class="container slider__controls controls">
				<div class="controls__item" 
					:class="{'controls__item_active': (slide.id === activeSlide.id)}" 
					:key="index"
					v-for="(slide, index) in slides" 
					@click.stop="newActive(slide)"
					>
					<div class="controls__number">
						0{{slide.id}}
					</div>
					<div class="controls__text">
						<div class="controls__title">
							{{slide.controls.title}}
						</div>
						<div class="controls__info" v-html="slide.controls.info"></div>
					</div>
				</div>
				<span class="slider__scroll">Scroll</span>
			</div>
		</div>
	</section>
</template>

<script>

export default {
	layout: 'promo/default',
	data () {
		return {
			slides: [
				{
					id: 1,
					title: `Онлайн <br> обучение и <br> стажировка трейдеров`,
					bg: require('~/static/bg1.png'),
					url: '/',
					controls: {
						title: 'Стажировка',
						info: 'Стажировка и <br> обучение трейдеров'
					}
				},
				{
					id: 2,
					title: `Социальная <br> платформа <br> для трейдеров`,
					bg: require('~/static/bg2.png'),
					url: '/platform',
					controls: {
						title: 'Платформа',
						info: 'Платформа для <br> трейдеров'
					}
				},
				{
					id: 3,
					title: `Социальная <br> платформа <br> для трейдеров`,
					bg: require('~/static/bg1.png'),
					url: '/terms',
					controls: {
						title: 'New Generation',
						info: 'Open discussion about <br> new trends'
					}
				}
			],
			activeSlide: {
				id: 1,
				title: `Онлайн <br> обучение и <br> стажировка трейдеров`,
				bg: require('~/static/bg1.png'),
				url: '/',
				controls: {
					title: 'Стажировка',
					info: 'Стажировка и <br> обучение трейдеров'
				}
			}
		}
	},
	methods: {
		newActive (slideObj) {
			this.activeSlide = slideObj
		}
	}
}
</script>

<style lang="stylus" scoped>
@import '~assets/styl/style.styl'
@import '~assets/styl/core/variables.styl'

@keyframes scroll {
	0% {
		width 0
	}
	100% {
		width 82px
	}
}
.fade-enter-active, .fade-leave-active {
	transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0;
}
.slideEffect-item {
	transition: all 2s;
}
.slideEffect-enter, .slideEffect-leave-to,
.slideEffect-leave-active {
	opacity: 0;
	// transform: translateY(-28%) translateX(0%)
}
.slideEffect-leave-active {
	position: absolute;
	width 1140px
	// top 20%
	// left 50%
}
// .slideEffect-enter-active, .slideEffect-leave-active
// 	transition opacity 4.2s
// 	position absolute
// .slideEffect-enter, .slideEffect-leave-to
// 	opacity 0
.slider
	background-size cover
	background-repeat no-repeat
	padding-top 200px
	padding-bottom 80px
	&__scroll
		color white
		font-style normal
		font-weight bold
		line-height normal
		font-size 13px
		transform rotate(90deg)
		position absolute
		bottom 34px
		left 0
		&:after
			content ''
			width 82px
			height 2px
			background-color #fff
			position absolute
			top 50%
			left "calc(100% + %s)" % 24px
			animation scroll 2s infinite
			transition all 0.1s ease-out
	&__content
		// top 50%
		// transform translateY(-50%)
		// position relative
	&__title
		line-height 90px
		font-size 84px
		color white
		margin-bottom 50px
	&__info
		font-size 11px
		line-height 20px
		color white
		text-transform uppercase
		letter-spacing 1px
		font-weight bold
		margin-bottom 0
	&__controls
		position relative
.controls
	display flex
	justify-content flex-end
	align-items center
	margin-top 80px
	&__item
		color white
		display flex
		justify-content flex-start
		align-items flex-start
		flex-wrap wrap
		opacity 0.3
		cursor pointer
		transition opacity 0.1s ease-in
		margin-right 70px

		&:nth-last-of-type(1)
			margin-right 0
		&:hover
			opacity 0.4
		
		&_active
			opacity 1
			cursor auto

			&:hover
				opacity 1
	&__info
		line-height 24px
		font-size 15px
		font-weight normal
	&__title
		line-height 24px
		font-size 15px
		font-weight bold
	&__number
		margin-right 20px
		border 2px solid white
		border-radius 50%
		width 36px
		height 36px
		display flex
		align-items center
		justify-content center
		font-size 13px
		font-weight bold
		line-height 12px
		

.socials
	position absolute
	top 50%
	right -69px
	transform rotate(90deg) translateY(-50%)

	&__item
		margin-right 70px
		color white
		font-size 13px
		font-weight bold
		
		&:nth-last-of-type(1)
			margin-right 0
</style>

