<template>
	<div class="promotion">
		<div class="container">
			<h1 class="promotion__title">Социальная платформа</h1>
			<h2 class="promotion__subtitle">This allows users to modify materials, <br> lighting and render  "on the fly" because </h2>
			<div class="columns">
				<div class="column">
					Scene graphs for dense regular objects such as all heightfields and polygon meshes tend to employ and octrees, which are specialized variants of a 3D box hierarchy. Since a heightfield occupies a box volume itself, recursively subdividing this box into eight subboxes
				</div>
				<div class="column">
					In addition, there are conceptual and philosophical considerations and implications associated with the use of virtual reality. What the phrase "virtual reality" means or refers to can be ambiguous.
				</div>
			</div>
			<div class="promotion__subheader">- Планы на разработку</div>
			<ul class="promotion__list calendar">
				<li class="calendar__item">
					<span class="calendar__date">
						Авг.
					</span>
					<span class="calendar__info">
						There are some similarities between BVHs and scene graphs. A scene graph can easily be adapted to include/become a BVH.	
					</span>
				</li>
				<li class="calendar__item">
					<span class="calendar__date">
						Сент.
					</span>
					<span class="calendar__info">
						There are some similarities between BVHs and scene graphs. A scene graph can easily be adapted to include/become a BVH.	
					</span>
				</li>
				<li class="calendar__item">
					<span class="calendar__date">
						Нояб.
					</span>
					<span class="calendar__info">
						There are some similarities between BVHs and scene graphs. A scene graph can easily be adapted to include/become a BVH.	
					</span>
				</li>
			</ul>
			<div class="text-center">
				<nuxt-link to="/" class="promotion__button button_big button button_back">НА ГЛАВНУЮ</nuxt-link>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	layout: 'promo/default'
}
</script>

<style lang="stylus" scoped>
@import '~assets/styl/style.styl'
.promotion
	background-color #2d2d2d
	padding-top 180px
	padding-bottom 60px

	&__title
		font-family Roboto
		font-style normal
		font-weight bold
		line-height 84px
		font-size 84px
		letter-spacing 1px
		margin-bottom 100px
		color white
	&__subtitle
		font-family Roboto
		font-style normal
		font-weight 500
		line-height 52px
		font-size 36px
		letter-spacing -1.6px
		margin-bottom 60px
		color white
	&__subheader
		font-family Roboto
		font-style normal
		font-weight bold
		line-height 24px
		font-size 15px
		color white
		margin-bottom 89px
	&__button
		margin 0 auto

.columns
	display flex
	justify-content space-between
	align-items flex-start
	flex-wrap wrap
	max-width 940px
	margin 0 auto 193px

.column
	flex 0 0 48%
	width 48%
	font-family Roboto
	font-style normal
	font-weight normal
	line-height 32px
	font-size 18px
	color white
.calendar
	display flex
	justify-content flex-start
	align-items flex-start
	flex-wrap wrap

	&__item
		flex 1 1 100%
		width 100%
		display flex
		justify-content space-between
		align-items flex-start
		padding-bottom 50px
		border-bottom 1px solid #D4D4D4
		margin-bottom 40px
	
	&__date
		font-family Roboto
		font-style normal
		font-weight bold
		line-height 84px
		font-size 84px
		letter-spacing -2.2px
		color white
	&__info
		font-family Roboto
		font-style normal
		font-weight 500
		line-height 52px
		font-size 34px
		letter-spacing -1.6px
		color #FFFFFF
		width 60%
		flex 0 0 60%
</style>

