<template>
	<div class="select-component" ref="select">
		<input
			@mousedown="open($event)"
			@focus="focus($event)"
			type="text"
			:value="value"
			v-if="required"
			required />
		<input
			@mousedown="open($event)"
			@focus="focus($event)"
			type="text"
			:value="value"
			v-else />
		<label :class="{active: inputValue || value}" :data-content="label" />
		<transition name="fade">
			<div class="options" v-if="inputValue">
				<p
					v-for="(option, index) in options"
					:key="index"
					@click="select(option)"
					v-text="option" />
			</div>
		</transition>
	</div>
</template>

<script>
import _ from 'lodash'

export default {
	props: {
		label: {
			type: String,
			default: 'Label'
		},
		value: {
			default: ''
		},
		required: {
			type: Boolean,
			default: true
		},
		options: {
			type: Array,
			default: () => [1,2,3,4,5]
		}
	},
	data() {
		return {
			inputValue: false,
			rmListener: false
		}
	},
	methods: {
		open(event) {
			event.preventDefault()
			this.inputValue = true

			if (process.browser) {
				this.close()
			}
		},
		focus(event) {
			event.target.blur()
			this.open(event)
		},
		close() { 
			document.addEventListener('mousedown', e => {
				if (this.rmListener)
					return

				if (!_.find(e.path, this.$refs['select'])) {
					this.inputValue = false
				} else {
					this.close()
				}
			}, {once: true})
		},
		select(option) {
			this.$emit('input', option)
			this.inputValue = false
		}
	},
	destroyed () {
		this.rmListener = true
	}
}
</script>

<style scoped lang="stylus">
@import '~assets/styl/style.styl'
@import '~assets/styl/core/variables.styl'

.select-component
	height 63px
	padding-top 20px
	position relative

	input
		background none
		border none
		box-sizing border-box
		display block
		font-size 15px
		line-height 40px
		font-weight bold
		width 100%
		border-bottom 1px solid $grayColor
		color $blackColor

	input:invalid
		box-shadow none

	input:focus
		outline none

	label
		display block
		font-size 0
		pointer-events none
		position relative
		width 100%

		&::before
			content attr(data-content)
			position relative
			transition all 0.2s ease
			will-change font-size, top
			font-size 15px
			top -18px
			color $primaryColor
			font-weight bold
			line-height 0

		&.active
			
			&::before
				font-size 11px
				line-height 0
				top -50px
				color $primaryColor
				font-weight bold

.options
	display flex
	flex-wrap wrap
	position absolute
	border 1px solid $primaryColor
	width 100%
	top 100%
	height 120px
	overflow auto
	
	&::-webkit-scrollbar-track
		-webkit-box-shadow inset 0 0 6px rgba(0,0,0,0.3)
		background-color #F5F5F5
		border-radius 10px

	&::-webkit-scrollbar
		width 6px
		background-color #F5F5F5

	&::-webkit-scrollbar-thumb
		background-color #000000
		border-radius 10px

	p
		width 100%
		font-size 15px
		line-height 3
		color $blackColor
		border-bottom 1px solid $primaryColor
		padding 0 20px
		cursor pointer
		transition all 250ms ease-out
		
		&:hover
			background-color $primaryColor
			color $whiteColor
</style>
