<template>
	<form @submit="submit($event)">
		<div class="inputs">
			<text-input v-model="user.firstName" label="Имя" />
			<text-input v-model="user.lastName" label="Фамилия" />
			<text-input :className="user.email.className" :errText="user.email.errText" @inputValidateEmit="mailValidate" @restoreValidationEmit="mailRestoreValidation" v-model="user.email.value" type="email" label="Email" />
			<text-input :className="user.phone.className" @inputValidateEmit="phoneValidate" @restoreValidationEmit="phoneRestoreValidation" v-model="user.phone.value" type="tel" label="Номер телефона" :titleText='"Введите номер в верном формате для Вашей страны"' />
			<select-input v-model="user.budget" label="Бюджет трейдера" />
			<text-input v-model="user.experience" label="Опыт работы" />
		</div>
		<div class="submit">
			<button :disabled="!isValidation" :class="{'_disabled': !isValidation, '_loading': loadingForm}" v-show="!loadingForm" type="submit">
				Отправить
			</button>
			<div v-show="loadingForm" class="transition-loader">
				<div class="transition-loader-inner">
					<label></label>
					<label></label>
					<label></label>
					<label></label>
					<label></label>
					<label></label>
				</div>
			</div>
			<div class="assets">
				<p>
					ЕСЛИ ВАМ ЛЕНЬ - ПРИШЛИТЕ РЕЗЮМЕ НАМ НА ПОЧТУ
				</p>
				<a href="mailto:job@pack.co">job@pack.co</a>
			</div>
		</div>
	</form>
</template>

<script>
import TextInput from '~/components/promo/form/text-input.vue'
import SelectInput from '~/components/promo/form/select-input.vue'
import {mapActions} from 'vuex'

export default {
	components: {
		'text-input': TextInput,
		'select-input': SelectInput
	},
	data () {
		return {
			user: {
				lastName: '',
				firstName: '',
				email: {
					value: '',
					valid: true,
					className: '_valid',
					errText: ''
				},
				phone: {
					value: '',
					valid: true,
					className: '_valid'
				},
				budget: '',
				experience: ''
			},
			loadingForm: false
		}
	},
	computed: {
		isValidation () {
			return this.user.email.valid && this.user.phone.valid
		}
	},
	methods: {
		...mapActions('user', {
			SignUp: 'signUpPromo'
		}),
		async submit (event) {
			event.preventDefault()
			this.loadingForm = true
			let res = await this.SignUp({
				'budget': this.user.budget,
				'email': this.user.email.value,
				'experience': this.user.experience,
				'name': this.user.firstName,
				'phone': this.user.phone.value,
				'surname': this.user.lastName
			})
			if (res.hasOwnProperty('errors')) {
				for (const key in res.errors) {
					if (res.errors.hasOwnProperty(key)) {
						if (key === 'email') {
							this.user.email.valid = false
							this.user.email.className = '_invalid'
							this.user.email.errText = res.errors.email[0]
						}
					}
				}
				this.loadingForm = false
			} else {
				this.loadingForm = false
				setTimeout(()=> {
					this.$router.push('/promo/test')
				}, 200)
			}
		},
		mailValidate (val) {
			let pattern = /[a-zа-я0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-zа-я0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-zа-я0-9](?:[a-zа-я0-9-]*[a-zа-я0-9])?\.)+[a-zа-я0-9](?:[a-zа-я0-9-]*[a-zа-я0-9])?/
			if (this.user.email.value.match(pattern)) {
				let test = this.user.email.value === this.user.email.value.match(pattern)[0] && this.user.email.value.length >= 6
				this.user.email.valid = test
				this.user.email.className = '_valid'
			} else {
				this.user.email.className = '_invalid'
				this.user.email.valid = false
			}
		},
		mailRestoreValidation () {
			this.user.email.valid = true
			this.user.email.className = '_valid'
		},
		phoneValidate (val) {
			let pattern = /(8\d{10}|\+7\d{10}|\+\d{12})/
			if (this.user.phone.value.match(pattern)) {
				let test = this.user.phone.value === this.user.phone.value.match(pattern)[0] && this.user.phone.value.length >= 6
				this.user.phone.valid = test
				this.user.phone.className = '_valid'
			} else {
				this.user.phone.className = '_invalid'
				this.user.phone.valid = false
			}
		},
		phoneRestoreValidation () {
			this.user.phone.valid = true
			this.user.phone.className = '_valid'
		}
	}
}
</script>

<style scoped lang="stylus">
@import '~assets/styl/style.styl'
@import '~assets/styl/core/variables.styl'

$cols = 2
$gutter-col = 127px
$gutter-row = 33px

.inputs
	display flex
	align-items stretch
	justify-content flex-start
	flex-wrap wrap
	margin-bottom 130px
	
	& > *
		width "calc(100% / %s - %s / %s)" % ($cols $gutter-col $cols)

		&:nth-of-type(2n+1)
			margin-right $gutter-col
		
		&:nth-of-type(n+3)
			margin-top $gutter-row

.submit
	display flex
	flex-direction row
	flex-wrap no-wrap
	position relative
	
	button
		background-color $whiteColor
		border 1px solid $blackColor
		font-size 15px
		font-weight bold
		text-transform uppercase
		line-height 73px
		padding 0 60px
		cursor pointer
		outline none
		transition all 250ms ease-out
		color black		
		&:hover
			color $whiteColor
			background-color $primaryColor

		&._disabled
			cursor no-drop
			&:hover
				color black
				background-color $whiteColor
			
		&._loading
			background-color red
	.assets
		width 100%
		background-color $primaryColor
		padding 0 60px
		display flex
		
		p
			margin 0 30px 0 0
			font-size 13px
			line-height 73px
			color $assetsColor
			font-weight bold
		
		a
			display block
			font-size 13px
			line-height 73px
			color $whiteColor
			font-weight bold
			transition all 250ms ease-out
			
			&:hover
				text-decoration none
				color darken($whiteColor, 25%)
</style>