<template>
	<div :class="[{'_empty' : isEmpty}, className]">
		<input
			:type="type"
			:value="value"
			:title="titleText"
			@input="$emit('input', $event.target.value)"
			@blur="$emit('inputValidateEmit')"
			@focus="$emit('restoreValidationEmit')"
			:required="required" />
		<label :data-content="label" />
		<span class="error">{{errText}}</span>
	</div>
</template>

<script>
export default {
	data () {
		return {
			isEmpty: true
		}
	},
	props: {
		type: {
			type: String,
			default: 'text'
		},
		label: {
			type: String,
			default: 'Label'
		},
		value: {
			type: String,
			default: ''
		},
		required: {
			type: Boolean,
			default: true
		},
		className: '',
		titleText: {
			type: String,
			default: ''
		},
		errText: {
			type: String,
			default: ''
		}
	},
	watch: {
		'value' (val) {
			if (val !== '') this.isEmpty = false
		}
	}
}
</script>

<style scoped lang="stylus">
@import '~assets/styl/style.styl'
@import '~assets/styl/core/variables.styl'

div
	height 63px
	padding-top 20px
	position relative

	input
		background none
		border none
		box-sizing border-box
		display block
		font-size 15px
		line-height 40px
		font-weight bold
		width 100%
		border-bottom 1px solid $grayColor
		color $blackColor

	input:invalid
		box-shadow none

	input:focus
		outline none
		& ~ label:before
			font-size 11px
			line-height 0
			top -50px
			color $primaryColor
			font-weight bold

	label
		display block
		font-size 0
		pointer-events none
		position relative
		width 100%

	label::before
		font-size 11px
		line-height 0
		top -50px
		color $primaryColor
		font-weight bold
		content attr(data-content)
		position relative
		transition all 0.2s ease
		will-change font-size, top

	label::after
		top -1px
		content ''
		height 1px
		left 50%
		position absolute
		transition all 0.2s ease
		width 0
		will-change width, left
		background $primaryColor

	input:focus ~ label::after
		left 0%
		width 100%
._valid
	.error
		display none
	input:focus ~ label::before
		font-size 11px
		line-height 0
		top -50px
		color $primaryColor
		font-weight bold
	label:before
		font-size 11px
		top -50px
		color $primaryColor
		font-weight bold
		line-height 0
._empty
	label:before
		font-size 15px
		top -18px
		color $primaryColor
		font-weight bold
		line-height 0
._invalid
	.error
		font-size 13px
		color red
	label:before
		font-size 11px
		line-height 0
		top -50px
		color red
		font-weight bold
		animation error 0.3s
	label:after
		left 0%
		width 100%
		background red

@keyframes error {
	0% {
		left 5px
	}
	10% {
		left -5px
	}
	20% {
		left 4px
	}
	40% {
		left -4px
	}
	60% {
		left 3px
	}
	80% {
		left -3px
	}
	100% {
		left 0px
	}
}
</style>
